In [96]:
import pandas as pd
import functools
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import numpy.random as nr
import math
from sklearn import preprocessing
import sklearn.model_selection as ms
from sklearn import linear_model
import sklearn.metrics as sklm

%matplotlib inline

In [97]:
works_custs = pd.read_csv('AdvWorksCusts.csv')
works_custs.drop_duplicates(subset = 'CustomerID', keep = 'last', inplace = True)
print(works_custs.columns)

Index(['CustomerID', 'Title', 'FirstName', 'MiddleName', 'LastName', 'Suffix',
       'AddressLine1', 'AddressLine2', 'City', 'StateProvinceName',
       'CountryRegionName', 'PostalCode', 'PhoneNumber', 'BirthDate',
       'Education', 'Occupation', 'Gender', 'MaritalStatus', 'HomeOwnerFlag',
       'NumberCarsOwned', 'NumberChildrenAtHome', 'TotalChildren',
       'YearlyIncome'],
      dtype='object')

In [98]:
works_custs.head()

,CustomerID,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,...,BirthDate,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome
0,11000,NaN,Jon,V,Yang,NaN,3761 N. 14th St,NaN,Rockhampton,Queensland,...,4/8/66,Bachelors,Professional,M,M,1,0,0,2,137947
1,11001,NaN,Eugene,L,Huang,NaN,2243 W St.,NaN,Seaford,Victoria,...,5/14/65,Bachelors,Professional,M,S,0,1,3,3,101141
2,11002,NaN,Ruben,NaN,Torres,NaN,5844 Linden Land,NaN,Hobart,Tasmania,...,8/12/65,Bachelors,Professional,M,M,1,1,3,3,91945
3,11003,NaN,Christy,NaN,Zhu,NaN,1825 Village Pl.,NaN,North Ryde,New South Wales,...,2/15/68,Bachelors,Professional,F,S,0,1,0,0,86688
4,11004,NaN,Elizabeth,NaN,Johnson,NaN,7553 Harness Circle,NaN,Wollongong,New South Wales,...,8/8/68,Bachelors,Professional,F,S,1,4,5,5,92771

In [99]:
avemonth_spend = pd.read_csv('AW_AveMonthSpend.csv')
avemonth_spend.drop_duplicates(subset = 'CustomerID', keep = 'last', inplace = True)
print(avemonth_spend.columns)

Index(['CustomerID', 'AveMonthSpend'], dtype='object')

In [100]:
avemonth_spend.head()

   CustomerID  AveMonthSpend
0       11000             89
1       11001            117
2       11002            123
3       11003             50
4       11004             95

In [101]:
works_custs_avemonth_spend = pd.merge(works_custs, avemonth_spend, how='left', on='CustomerID')
print(works_custs_avemonth_spend.columns)
print(works_custs_avemonth_spend)

Index(['CustomerID', 'Title', 'FirstName', 'MiddleName', 'LastName', 'Suffix',
       'AddressLine1', 'AddressLine2', 'City', 'StateProvinceName',
       'CountryRegionName', 'PostalCode', 'PhoneNumber', 'BirthDate',
       'Education', 'Occupation', 'Gender', 'MaritalStatus', 'HomeOwnerFlag',
       'NumberCarsOwned', 'NumberChildrenAtHome', 'TotalChildren',
       'YearlyIncome', 'AveMonthSpend'],
      dtype='object')
       CustomerID Title   FirstName MiddleName    LastName Suffix  \
0           11000   NaN         Jon          V        Yang    NaN
1           11001   NaN      Eugene          L       Huang    NaN
2           11002   NaN       Ruben        NaN      Torres    NaN
3           11003   NaN     Christy        NaN         Zhu    NaN
4           11004   NaN   Elizabeth        NaN     Johnson    NaN
5           11005   NaN       Julio        NaN        Ruiz    NaN
6           11006   NaN       Janet          G     Alvarez    NaN
7           11007   NaN       Marco        NaN       Mehta    NaN
8           11008   NaN         Rob        NaN     Verhoff    NaN
9           11009   NaN     Shannon          C     Carlson    NaN
10          11010   NaN   Jacquelyn          C      Suarez    NaN
11          11011   NaN      Curtis        NaN          Lu    NaN
12          11012   NaN      Lauren          M      Walker    NaN
13          11013   NaN         Ian          M     Jenkins    NaN
14          11014   NaN      Sydney        NaN     Bennett    NaN
15          11015   NaN       Chloe        NaN       Young    NaN
16          11016   NaN       Wyatt          L        Hill    NaN
17          11019   NaN        Luke          L         Lal    NaN
18          11020   NaN      Jordan          C        King    NaN
19          11023   NaN        Seth          M     Edwards    NaN
20          11024   NaN     Russell        NaN         Xie    NaN
21          11025   NaN   Alejandro        NaN        Beck    NaN
22          11026   NaN      Harold        NaN         Sai    NaN
23          11027   NaN      Jessie          R        Zhao    NaN
24          11028   NaN        Jill        NaN     Jimenez    NaN
25          11031   NaN     Theresa          G       Ramos    NaN
26          11032   NaN      Denise        NaN       Stone    NaN
27          11033   NaN       Jaime        NaN        Nath    NaN
28          11034   NaN       Ebony        NaN    Gonzalez    NaN
29          11035   NaN       Wendy        NaN   Dominguez    NaN
...           ...   ...         ...        ...         ...    ...
16374       29464   NaN      Eugene        NaN         Gao    NaN
16375       29465   NaN         Roy        NaN        Gill    NaN
16376       29466   NaN       Lance        NaN     Jimenez    NaN
16377       29467   NaN      Monica          J       Mehta    NaN
16378       29468   NaN  Jacqueline          H      Morris    NaN
16379       29469   NaN   Dominique          M    Saunders    NaN
16380       29470   NaN      Nathan        NaN     Roberts    NaN
16381       29471   NaN        Dana        NaN      Ortega    NaN
16382       29472   NaN       Lacey          M      Sharma    NaN
16383       29473   NaN      Carmen          J      Subram    NaN
16384       29474   NaN       Jaime          B        Raje    NaN
16385       29475   NaN       Jared          A        Ward    NaN
16386       29476   NaN   Elizabeth        NaN     Bradley    NaN
16387       29477   NaN        Neil          N        Ruiz    NaN
16388       29478   NaN      Darren          D     Carlson    NaN
16389       29479   NaN       Tommy          L        Tang    NaN
16390       29480   NaN        Nina          W        Raji    NaN
16391       29481   NaN        Ivan        NaN        Suri    NaN
16392       29482   NaN     Clayton        NaN       Zhang    NaN
16393       25352   NaN     Brandon          S    Martinez    NaN
16394       13139   NaN      Carmen          C       Perez    NaN
16395       18651   NaN      Isaiah          A    Mitchell    NaN
16396       24992   NaN       Faith          L      Bryant    NaN
16397       11442   NaN      Joseph          D      Harris    NaN
16398       18487   NaN       Tasha          J        Nath    NaN
16399       13121   NaN     Latasha          E     Jimenez    NaN
16400       26100   NaN       James     Garner  Ptaszynski    NaN
16401       11328   NaN      Julian          M     Griffin    NaN
16402       23077   NaN      Marvin          A   Hernandez    NaN
16403       18982   NaN        Kyle        NaN       Baker    NaN

                      AddressLine1 AddressLine2                City  \
0                  3761 N. 14th St          NaN         Rockhampton
1                       2243 W St.          NaN             Seaford
2                 5844 Linden Land          NaN              Hobart
3                 1825 Village Pl.          NaN          North Ryde
4              7553 Harness Circle          NaN          Wollongong
5              7305 Humphrey Drive          NaN       East Brisbane
6                    2612 Berry Dr          NaN          Matraville
7                 942 Brook Street          NaN         Warrnambool
8                 624 Peabody Road          NaN             Bendigo
9              3839 Northgate Road          NaN          Hervey Bay
10             7800 Corrinne Court          NaN       East Brisbane
11                    1224 Shoenic          NaN       East Brisbane
12               4785 Scott Street          NaN           Bremerton
13                7902 Hudson Ave.          NaN             Lebanon
14                 9011 Tank Drive          NaN             Redmond
15            244 Willow Pass Road          NaN             Burbank
16             9666 Northridge Ct.          NaN      Imperial Beach
17                 7832 Landing Dr          NaN             Langley
18                   7156 Rose Dr.          NaN           Metchosin
19               4499 Valley Crest          NaN          Bellflower
20               8734 Oxford Place          NaN             Concord
21       2596 Franklin Canyon Road          NaN           Hawthorne
22                  8211 Leeds Ct.          NaN            Goulburn
23              213 Valencia Place          NaN         Warrnambool
24               9111 Rose Ann Ave          NaN        St. Leonards
25               6465 Detroit Ave.          NaN          Matraville
26              626 Bentley Street          NaN           Melbourne
27                 5927 Rainbow Dr          NaN       Milsons Point
28               5167 Condor Place          NaN        North Sydney
29             1873 Mt. Whitney Dr          NaN          Cranbourne
...                            ...          ...                 ...
16374         4581 Coldwater Drive          NaN         Rockhampton
16375      4072 South Hampton Road          NaN          Matraville
16376           Auf Der Steige 532          NaN            Solingen
16377             Bundesallee 2461          NaN     Sulzbach Taunus
16378          6934 Santa Cruz Dr.          NaN          Cheltenham
16379            3792 Westwood Ct.          NaN                Oxon
16380  29, boulevard Beau Marchais          NaN              Drancy
16381        80, rue de Fontfroide          NaN           Dunkerque
16382            21, avenue Reille          NaN               Paris
16383             6467 Buena Vista          NaN              Oxford
16384         Potsdamer Straße 646          NaN         Saarbrücken
16385                Erftplatz 876          NaN             Hamburg
16386                 Nonnendamm 2          NaN             Hamburg
16387                P.O. Box 9178          NaN              London
16388             5240 Premier Pl.          NaN      Stoke-on-Trent
16389            111, rue Maillard          NaN          Versailles
16390            9 Katherine Drive          NaN              London
16391                  Knaackstr 4          NaN                 Hof
16392       1080, quai de Grenelle          NaN          Saint Ouen
16393         843 Camino Verde Cr.          NaN         Lake Oswego
16394       1622 Silver Oaks Place          NaN           Lane Cove
16395            5014 Steele Drive          NaN            Lynnwood
16396  6267 Morello Heights Circle          NaN         Chula Vista
16397       8, rue des Vendangeurs          NaN  Tremblay-en-France
16398             4992 Yorba Linda          NaN             Sunbury
16399               7259 Birchwood          NaN              Melton
16400              7345 Kenwal Rd.          NaN             Shawnee
16401          7398 Withersed Lane          NaN              Newton
16402               1019 Book Road          NaN              Rhodes
16403              2118 Little Dr.          NaN            Kirkland

         StateProvinceName      ...                  Education  \
0               Queensland      ...                 Bachelors
1                 Victoria      ...                 Bachelors
2                 Tasmania      ...                 Bachelors
3          New South Wales      ...                 Bachelors
4          New South Wales      ...                 Bachelors
5               Queensland      ...                 Bachelors
6          New South Wales      ...                 Bachelors
7                 Victoria      ...                 Bachelors
8                 Victoria      ...                 Bachelors
9               Queensland      ...                 Bachelors
10              Queensland      ...                 Bachelors
11              Queensland      ...                 Bachelors
12              Washington      ...                 Bachelors
13                  Oregon      ...                 Bachelors
14              Washington      ...                 Bachelors
15              California      ...            Partial College
16              California      ...            Partial College
17        British Columbia      ...                High School
18        British Columbia      ...                High School
19              California      ...            Partial College
20              California      ...            Partial College
21              Queensland      ...        Partial High School
22         New South Wales      ...            Partial College
23                Victoria      ...            Partial College
24         New South Wales      ...            Partial College
25         New South Wales      ...                High School
26                Victoria      ...                High School
27         New South Wales      ...                High School
28         New South Wales      ...                High School
29                Victoria      ...        Partial High School
...                    ...      ...                        ...
16374           Queensland      ...                High School
16375      New South Wales      ...            Partial College
16376  Nordrhein-Westfalen      ...                 Bachelors
16377             Saarland      ...            Graduate Degree
16378              England      ...            Graduate Degree
16379              England      ...            Graduate Degree
16380    Seine Saint Denis      ...                High School
16381                 Nord      ...                High School
16382        Seine (Paris)      ...                High School
16383              England      ...            Partial College
16384             Saarland      ...            Partial College
16385              Hamburg      ...            Partial College
16386              Hamburg      ...            Partial College
16387              England      ...            Partial College
16388              England      ...            Graduate Degree
16389              Yveline      ...            Graduate Degree
16390              England      ...            Graduate Degree
16391               Bayern      ...            Graduate Degree
16392    Charente-Maritime      ...                 Bachelors
16393               Oregon      ...        Partial High School
16394      New South Wales      ...            Partial College
16395           Washington      ...                High School
16396           California      ...        Partial High School
16397    Seine Saint Denis      ...        Partial High School
16398             Victoria      ...                High School
16399             Victoria      ...                 Bachelors
16400     British Columbia      ...            Partial College
16401     British Columbia      ...                 Bachelors
16402      New South Wales      ...                High School
16403           Washington      ...                High School

           Occupation Gender MaritalStatus HomeOwnerFlag NumberCarsOwned  \
0        Professional      M             M             1               0
1        Professional      M             S             0               1
2        Professional      M             M             1               1
3        Professional      F             S             0               1
4        Professional      F             S             1               4
5        Professional      M             S             1               1
6        Professional      F             S             1               1
7        Professional      M             M             1               2
8        Professional      F             S             1               3
9        Professional      M             S             0               1
10       Professional      F             S             0               1
11       Professional      M             M             1               4
12         Management      F             M             1               2
13         Management      M             M             1               3
14         Management      F             S             0               3
15     Skilled Manual      F             S             0               1
16     Skilled Manual      M             M             1               1
17     Skilled Manual      M             S             0               2
18     Skilled Manual      M             S             0               2
19     Skilled Manual      M             M             1               1
20     Skilled Manual      M             M             1               2
21           Clerical      M             M             1               2
22           Clerical      M             S             0               2
23           Clerical      M             M             1               2
24           Clerical      F             M             1               2
25     Skilled Manual      F             M             1               2
26     Skilled Manual      F             M             1               2
27     Skilled Manual      M             M             1               2
28     Skilled Manual      F             M             1               2
29           Clerical      F             M             1               2
...               ...    ...           ...           ...             ...
16374          Manual      M             S             0               0
16375          Manual      M             S             1               0
16376        Clerical      M             M             1               0
16377        Clerical      F             M             1               0
16378        Clerical      F             M             0               0
16379        Clerical      F             M             0               0
16380          Manual      M             S             0               1
16381          Manual      F             S             0               1
16382          Manual      F             M             0               1
16383          Manual      F             S             0               0
16384          Manual      M             M             0               1
16385          Manual      M             S             0               1
16386          Manual      F             M             0               1
16387          Manual      M             M             0               1
16388        Clerical      M             S             1               0
16389        Clerical      M             M             1               0
16390        Clerical      F             S             1               0
16391        Clerical      M             S             0               0
16392        Clerical      M             M             1               0
16393        Clerical      M             M             0               2
16394  Skilled Manual      F             S             0               1
16395        Clerical      M             M             0               2
16396  Skilled Manual      F             M             1               2
16397  Skilled Manual      M             M             1               2
16398  Skilled Manual      F             S             0               2
16399    Professional      F             M             1               4
16400    Professional      F             S             1               2
16401      Management      M             M             1               2
16402  Skilled Manual      M             M             1               2
16403    Professional      M             S             1               2

      NumberChildrenAtHome TotalChildren  YearlyIncome  AveMonthSpend
0                        0             2        137947             89
1                        3             3        101141            117
2                        3             3         91945            123
3                        0             0         86688             50
4                        5             5         92771             95
5                        0             0        103199             78
6                        0             0         84756             54
7                        3             3        109759            130
8                        4             4         88005             85
9                        0             0        106399             74
10                       0             0         81294             49
11                       4             4         94029            146
12                       0             2         99245             55
13                       0             2        115859             84
14                       0             3        105157             49
15                       0             0         40011             39
16                       0             0         46808             68
17                       0             0         49455             64
18                       0             0         43857             64
19                       0             0         50046             71
20                       0             0         91276             77
21                       1             2         24334             70
22                       0             2         61905             63
23                       0             2         49349             76
24                       0             2         44068             43
25                       0             4         18843             43
26                       0             4         15861             42
27                       0             4         35822             58
28                       0             4         29017             39
29                       1             2         11721             50
...                    ...           ...           ...            ...
16374                    1             1         12002             67
16375                    0             0         22109             64
16376                    0             1         59132             64
16377                    0             4         75167             57
16378                    0             4         62297             53
16379                    0             3         65669             56
16380                    1             1         28464             69
16381                    1             1         28506             49

In [102]:
print(works_custs_avemonth_spend.shape)
works_custs_avemonth_spend.head()

(16404, 24)

,CustomerID,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,...,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,AveMonthSpend
0,11000,NaN,Jon,V,Yang,NaN,3761 N. 14th St,NaN,Rockhampton,Queensland,...,Bachelors,Professional,M,M,1,0,0,2,137947,89
1,11001,NaN,Eugene,L,Huang,NaN,2243 W St.,NaN,Seaford,Victoria,...,Bachelors,Professional,M,S,0,1,3,3,101141,117
2,11002,NaN,Ruben,NaN,Torres,NaN,5844 Linden Land,NaN,Hobart,Tasmania,...,Bachelors,Professional,M,M,1,1,3,3,91945,123
3,11003,NaN,Christy,NaN,Zhu,NaN,1825 Village Pl.,NaN,North Ryde,New South Wales,...,Bachelors,Professional,F,S,0,1,0,0,86688,50
4,11004,NaN,Elizabeth,NaN,Johnson,NaN,7553 Harness Circle,NaN,Wollongong,New South Wales,...,Bachelors,Professional,F,S,1,4,5,5,92771,95

In [103]:
labels = np.array(works_custs_avemonth_spend['AveMonthSpend'])
labels.size

16404

In [104]:
def encode_string(cat_features):
    ## First encode the strings to numeric categories
    enc = preprocessing.LabelEncoder()
    enc.fit(cat_features)
    enc_cat_features = enc.transform(cat_features)
    ## Now, apply one hot encoding
    ohe = preprocessing.OneHotEncoder()
    encoded = ohe.fit(enc_cat_features.reshape(-1,1))
    return encoded.transform(enc_cat_features.reshape(-1,1)).toarray()

categorical_columns = ['Education', 'Gender', 'MaritalStatus']

Features = encode_string(works_custs_avemonth_spend['Occupation'])
for col in categorical_columns:
    temp = encode_string(works_custs_avemonth_spend[col])
    Features = np.concatenate([Features, temp], axis = 1)

print(Features.shape)
print(Features[:2, :])

(16404, 14)
[[0. 0. 0. 1. 0. 1. 0. 0. 0. 0. 0. 1. 1. 0.]
 [0. 0. 0. 1. 0. 1. 0. 0. 0. 0. 0. 1. 0. 1.]]

/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

In [105]:
Features = np.concatenate([Features, np.array(works_custs_avemonth_spend[['HomeOwnerFlag','NumberCarsOwned', 
                            'NumberChildrenAtHome', 'TotalChildren', 'YearlyIncome']])], axis = 1)
print(Features.shape)
print(Features[:2, :])

(16404, 19)
[[0.000e+00 0.000e+00 0.000e+00 1.000e+00 0.000e+00 1.000e+00 0.000e+00
  0.000e+00 0.000e+00 0.000e+00 0.000e+00 1.000e+00 1.000e+00 0.000e+00
  1.000e+00 0.000e+00 0.000e+00 2.000e+00 1.379e+05]
 [0.000e+00 0.000e+00 0.000e+00 1.000e+00 0.000e+00 1.000e+00 0.000e+00
  0.000e+00 0.000e+00 0.000e+00 0.000e+00 1.000e+00 0.000e+00 1.000e+00
  0.000e+00 1.000e+00 3.000e+00 3.000e+00 1.011e+05]]

In [106]:
## Randomly sample cases to create independent training and test data
nr.seed(9988)
indx = range(Features.shape[0])
indx = ms.train_test_split(indx, test_size = 1000) #need to have shuffle=False in here for correct answer
X_train = Features[indx[0],:]
y_train = np.ravel(labels[indx[0]])
#X_test = Features[indx[1],:]
#y_test = np.ravel(labels[indx[1]])

In [107]:
y_train

array([ 70,  74,  78, ...,  73, 127,  46])

In [108]:
from sklearn.feature_selection import SelectKBest

from sklearn.feature_selection import chi2

test = SelectKBest(score_func=chi2, k=4)

In [109]:
fit = test.fit(X_train, y_train)

In [110]:
features = fit.transform(X_train)
np.set_printoptions(precision=3)
print(fit.scores_)

[7.386e+02 7.859e+02 1.715e+03 1.053e+03 3.856e+02 4.133e+02 4.607e+02
 3.783e+02 2.535e+02 5.511e+02 4.182e+03 4.085e+03 6.005e+02 7.101e+02
 2.225e+02 2.108e+03 2.142e+04 6.198e+03 1.346e+08]

In [111]:
X_test1 = Features[indx[1],:]
y_test1 = np.ravel(labels[indx[1]])

In [112]:
scaler = preprocessing.StandardScaler().fit(X_train[:,18:])
X_train[:,18:] = scaler.transform(X_train[:,18:])
X_test1[:,18:] = scaler.transform(X_test1[:,18:])
X_train[:2,]

array([[ 1.   ,  0.   ,  0.   ,  0.   ,  0.   ,  0.   ,  0.   ,  0.   ,
         1.   ,  0.   ,  0.   ,  1.   ,  1.   ,  0.   ,  1.   ,  1.   ,
         0.   ,  1.   , -0.715],
       [ 1.   ,  0.   ,  0.   ,  0.   ,  0.   ,  0.   ,  0.   ,  0.   ,
         1.   ,  0.   ,  1.   ,  0.   ,  0.   ,  1.   ,  1.   ,  3.   ,
         4.   ,  4.   , -0.631]])

In [113]:
lin_mod = linear_model.LinearRegression(fit_intercept = False)
lin_mod.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=False, n_jobs=None,
         normalize=False)

In [114]:
y_score = lin_mod.predict(X_test1) 
print(np.array(y_score[:500]))

[ 85.248  54.264  46.356  97.95   82.465  44.574  76.365  73.899  30.524
  47.331  41.027  70.259  63.511  48.166  44.959  78.037  65.61   49.817
  95.613  60.49   65.453  49.778  59.846  90.021 122.288  52.146 135.539
 126.705  50.453  38.984  56.144  75.17   62.117  81.514  75.187  60.956
  42.91  142.834  47.549 103.815  34.994  84.943  44.904  92.888  68.457
  62.435  73.866  64.276  50.942 117.804  87.017  81.176  35.972 107.848
  68.99   49.457  77.5    54.403  77.266  65.404  72.694  40.491  69.52
 112.359 150.329  68.503  80.784  65.59   35.764  43.335 107.982  80.528
  51.512  54.625  70.256  36.674  40.703  47.436  56.758  54.667  74.377
  79.561  88.173  40.672  77.668  66.11   54.039  32.523  43.406  67.923
  69.363  49.342  43.099  30.062  64.904 135.646  37.569  37.881  63.523
  87.502  76.452  47.035  74.138  63.81   43.789  87.987  39.997 105.88
  38.914  72.544  66.744  72.14   82.072 144.84  107.508  63.246  55.783
  49.332  36.078  79.791  72.492  83.922  84.356  42.855  85.168  61.696
  80.268  45.912 152.881  47.401  66.273  42.605 133.336  50.454  92.48
  47.267  42.435 127.452  31.602  42.642  55.417  73.124  89.192  77.405
 114.854  77.584  81.323  58.913  85.016  83.675  46.702 128.679  91.461
 104.774  42.922  69.575  46.563  36.706  35.979  45.748  36.768  52.77
  90.695  30.643  61.082 110.942  43.815  78.29   79.169  49.502  60.382
  86.855  50.274  53.277  90.878  77.917  46.552  45.164  57.019  63.698
  78.891  58.928  35.805  84.729  75.137  71.736  49.559  42.679  39.631
  65.085  72.628 118.905  77.572  71.262  47.43   93.456  73.218  85.821
  59.974  93.537  46.916  46.941  39.468  62.047  79.801  81.102  80.835
  99.872  82.116 102.974  65.807  66.531  32.684  83.822  37.354  67.069
  75.986  52.849  52.217  60.13   86.853  37.109  39.269  33.205 120.78
  44.221  31.174  35.913  45.997 145.771 105.959  55.271  36.556  72.205
  61.314  82.873  79.262 137.884  79.001  52.729  75.099  93.729  49.998
  64.444  58.23   83.846  98.398  48.154 113.58   78.782  67.623 104.468
  79.011  48.494 117.084  97.04   47.793  47.774  67.185  88.58   66.915
 125.349  77.897  70.929 120.466  56.189  45.156  66.821  79.098  63.788
 138.563  64.434 131.548 124.547  46.664  46.68   91.476  81.087  66.417
  56.989  91.443  80.547  37.867  59.489  67.254  40.438  72.395  32.26
  44.061  90.242  47.78   84.027  86.505  55.165  42.633  82.251  67.242
  94.174  62.202  48.02   36.625  88.487  79.367  31.535  77.887  62.824
  83.383  63.328  71.419  48.846  74.238  97.376  50.95   56.346 113.225
  64.408  83.676  74.259 107.159  73.529  36.533  51.752  67.407 146.487
  47.349  59.377 113.55   48.226 108.312 120.937  43.003  70.225  74.981
  64.517  60.246  59.978 101.899  74.455  89.03   47.046  51.245  44.631
  75.397  77.302  46.851  58.033  61.257  60.923  68.641  67.439  72.393
  55.431  71.087  41.226  75.981  92.153  90.314  38.506  88.664  75.39
  83.643  91.268  95.969  33.039  44.714 139.059  46.51   83.325 108.507
  86.605  88.524  37.21  106.576  77.105  43.9    93.635  42.256  81.088
  74.887  51.542 144.368  85.307  81.035 142.58   54.834 115.279  46.99
  43.232  73.685  46.121  37.262 111.785  51.071  84.674  48.802  64.611
  59.722  94.038  86.096  52.255  81.619  53.042  40.621  74.864  42.9
  48.012  81.702  42.539  80.695  92.093 106.188  87.6    72.973  35.765
  52.782  81.701  33.641  72.272  43.63   83.361  55.732  32.046  73.943
  36.286  34.664  44.393  78.508  59.024  70.625 145.865  72.136  94.318
 111.508  76.153  53.638  82.366  91.633 140.197  68.27  140.787  71.322
  59.377  47.404  91.287  53.076  36.007  66.677  43.533  83.197 116.105
  71.262  55.151  77.835  73.676  44.081  51.494  31.564  37.448  87.226
  53.18   72.514  81.451 135.206  82.283  74.479  97.439  73.414  45.477
  46.616  86.71  112.209  58.935  36.642  39.418  77.542  98.669  40.626
 113.871  57.927  44.994  33.492  43.643  47.388  40.032  78.696  77.225
  90.585 111.345 137.09   94.766  38.467  72.562 100.039  39.889  81.177
  71.429 137.32   42.567 141.229 105.801]

In [115]:
aw_test = pd.read_csv('aw_test.csv')
print(aw_test.shape)
aw_test.head()

(500, 23)

,CustomerID,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,...,BirthDate,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome
0,18988,NaN,Courtney,A,Baker,NaN,8727 Buena Vista Ave.,NaN,Fremont,California,...,1/5/1945,Bachelors,Management,F,S,0,2,0,5,86931
1,29135,NaN,Adam,C,Allen,NaN,3491 Cook Street,NaN,Haney,British Columbia,...,10/4/1964,Bachelors,Skilled Manual,M,M,1,2,2,4,100125
2,12156,NaN,Bonnie,NaN,Raji,NaN,359 Pleasant Hill Rd,NaN,Burbank,California,...,1/12/1934,Graduate Degree,Management,F,M,1,2,0,4,103985
3,13749,NaN,Julio,C,Alonso,NaN,8945 Euclid Ave.,NaN,Burlingame,California,...,9/22/1958,Graduate Degree,Skilled Manual,M,M,1,0,0,4,127161
4,27780,NaN,Christy,A,Andersen,NaN,"42, boulevard Tremblay",NaN,Dunkerque,Nord,...,3/19/1965,High School,Manual,F,M,1,1,2,2,21876

In [116]:
categorical_columns

['Education', 'Gender', 'MaritalStatus']

In [117]:
temp

array([[1., 0.],
       [0., 1.],
       [1., 0.],
       ...,
       [1., 0.],
       [1., 0.],
       [0., 1.]])

In [118]:
FeaturesT = encode_string(aw_test['Occupation'])
for col in categorical_columns:
    tempT = encode_string(aw_test[col])
    FeaturesT = np.concatenate([FeaturesT, tempT], axis = 1)

print(FeaturesT.shape)
print(FeaturesT[:20, :])

(500, 14)
[[0. 1. 0. 0. 0. 1. 0. 0. 0. 0. 1. 0. 0. 1.]
 [0. 0. 0. 0. 1. 1. 0. 0. 0. 0. 0. 1. 1. 0.]
 [0. 1. 0. 0. 0. 0. 1. 0. 0. 0. 1. 0. 1. 0.]
 [0. 0. 0. 0. 1. 0. 1. 0. 0. 0. 0. 1. 1. 0.]
 [0. 0. 1. 0. 0. 0. 0. 1. 0. 0. 1. 0. 1. 0.]
 [1. 0. 0. 0. 0. 0. 0. 0. 1. 0. 1. 0. 1. 0.]
 [0. 0. 0. 0. 1. 1. 0. 0. 0. 0. 0. 1. 0. 1.]
 [0. 0. 0. 1. 0. 1. 0. 0. 0. 0. 0. 1. 1. 0.]
 [0. 0. 1. 0. 0. 0. 0. 0. 0. 1. 0. 1. 0. 1.]
 [0. 0. 0. 0. 1. 1. 0. 0. 0. 0. 1. 0. 1. 0.]
 [0. 0. 0. 1. 0. 0. 0. 1. 0. 0. 1. 0. 0. 1.]
 [0. 0. 0. 1. 0. 0. 0. 0. 1. 0. 1. 0. 1. 0.]
 [0. 0. 0. 0. 1. 0. 0. 1. 0. 0. 0. 1. 1. 0.]
 [0. 0. 0. 1. 0. 0. 0. 1. 0. 0. 1. 0. 1. 0.]
 [0. 0. 0. 0. 1. 0. 0. 0. 1. 0. 1. 0. 0. 1.]
 [0. 0. 0. 1. 0. 0. 1. 0. 0. 0. 1. 0. 1. 0.]
 [0. 0. 0. 0. 1. 0. 1. 0. 0. 0. 0. 1. 1. 0.]
 [0. 0. 0. 0. 1. 0. 0. 0. 0. 1. 0. 1. 0. 1.]
 [0. 1. 0. 0. 0. 0. 0. 0. 1. 0. 1. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 1. 0. 1. 0. 0. 1.]]

/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

In [119]:
FeaturesT = np.concatenate([FeaturesT, np.array(aw_test[['HomeOwnerFlag','NumberCarsOwned', 
                            'NumberChildrenAtHome', 'TotalChildren', 'YearlyIncome']])], axis = 1)
print(FeaturesT.shape)
print(FeaturesT[:2, :])

(500, 19)
[[0.000e+00 1.000e+00 0.000e+00 0.000e+00 0.000e+00 1.000e+00 0.000e+00
  0.000e+00 0.000e+00 0.000e+00 1.000e+00 0.000e+00 0.000e+00 1.000e+00
  0.000e+00 2.000e+00 0.000e+00 5.000e+00 8.693e+04]
 [0.000e+00 0.000e+00 0.000e+00 0.000e+00 1.000e+00 1.000e+00 0.000e+00
  0.000e+00 0.000e+00 0.000e+00 0.000e+00 1.000e+00 1.000e+00 0.000e+00
  1.000e+00 2.000e+00 2.000e+00 4.000e+00 1.001e+05]]

In [120]:
indxT = range(FeaturesT.shape[0])
indxT = ms.train_test_split(indxT, test_size=0, shuffle=False)
X_test = FeaturesT[indxT[0],:]

#y_test = np.ravel(labelsT[indxT[0]])
X_test[:19, :19]

array([[0.000e+00, 1.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 1.000e+00,
        0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 1.000e+00, 0.000e+00,
        0.000e+00, 1.000e+00, 0.000e+00, 2.000e+00, 0.000e+00, 5.000e+00,
        8.693e+04],
       [0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 1.000e+00, 1.000e+00,
        0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 1.000e+00,
        1.000e+00, 0.000e+00, 1.000e+00, 2.000e+00, 2.000e+00, 4.000e+00,
        1.001e+05],
       [0.000e+00, 1.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00,
        1.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 1.000e+00, 0.000e+00,
        1.000e+00, 0.000e+00, 1.000e+00, 2.000e+00, 0.000e+00, 4.000e+00,
        1.040e+05],
       [0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 1.000e+00, 0.000e+00,
        1.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 1.000e+00,
        1.000e+00, 0.000e+00, 1.000e+00, 0.000e+00, 0.000e+00, 4.000e+00,
        1.272e+05],
       [0.000e+00, 0.000e+00, 1.000e+00, 0.000e+00, 0.000e+00, 0.000e+00,
        0.000e+00, 1.000e+00, 0.000e+00, 0.000e+00, 1.000e+00, 0.000e+00,
        1.000e+00, 0.000e+00, 1.000e+00, 1.000e+00, 2.000e+00, 2.000e+00,
        2.188e+04],
       [1.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00,
        0.000e+00, 0.000e+00, 1.000e+00, 0.000e+00, 1.000e+00, 0.000e+00,
        1.000e+00, 0.000e+00, 1.000e+00, 1.000e+00, 0.000e+00, 1.000e+00,
        4.447e+04],
       [0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 1.000e+00, 1.000e+00,
        0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 1.000e+00,
        0.000e+00, 1.000e+00, 1.000e+00, 2.000e+00, 2.000e+00, 4.000e+00,
        7.770e+04],
       [0.000e+00, 0.000e+00, 0.000e+00, 1.000e+00, 0.000e+00, 1.000e+00,
        0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 1.000e+00,
        1.000e+00, 0.000e+00, 1.000e+00, 3.000e+00, 4.000e+00, 4.000e+00,
        9.942e+04],
       [0.000e+00, 0.000e+00, 1.000e+00, 0.000e+00, 0.000e+00, 0.000e+00,
        0.000e+00, 0.000e+00, 0.000e+00, 1.000e+00, 0.000e+00, 1.000e+00,
        0.000e+00, 1.000e+00, 1.000e+00, 1.000e+00, 4.000e+00, 4.000e+00,
        1.352e+04],
       [0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 1.000e+00, 1.000e+00,
        0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 1.000e+00, 0.000e+00,
        1.000e+00, 0.000e+00, 1.000e+00, 1.000e+00, 1.000e+00, 1.000e+00,
        4.626e+04],
       [0.000e+00, 0.000e+00, 0.000e+00, 1.000e+00, 0.000e+00, 0.000e+00,
        0.000e+00, 1.000e+00, 0.000e+00, 0.000e+00, 1.000e+00, 0.000e+00,
        0.000e+00, 1.000e+00, 1.000e+00, 1.000e+00, 1.000e+00, 2.000e+00,
        9.638e+04],
       [0.000e+00, 0.000e+00, 0.000e+00, 1.000e+00, 0.000e+00, 0.000e+00,
        0.000e+00, 0.000e+00, 1.000e+00, 0.000e+00, 1.000e+00, 0.000e+00,
        1.000e+00, 0.000e+00, 1.000e+00, 2.000e+00, 0.000e+00, 3.000e+00,
        7.769e+04],
       [0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 1.000e+00, 0.000e+00,
        0.000e+00, 1.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 1.000e+00,
        1.000e+00, 0.000e+00, 1.000e+00, 2.000e+00, 0.000e+00, 2.000e+00,
        5.213e+04],
       [0.000e+00, 0.000e+00, 0.000e+00, 1.000e+00, 0.000e+00, 0.000e+00,
        0.000e+00, 1.000e+00, 0.000e+00, 0.000e+00, 1.000e+00, 0.000e+00,
        1.000e+00, 0.000e+00, 1.000e+00, 2.000e+00, 0.000e+00, 4.000e+00,
        6.098e+04],
       [0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 1.000e+00, 0.000e+00,
        0.000e+00, 0.000e+00, 1.000e+00, 0.000e+00, 1.000e+00, 0.000e+00,
        0.000e+00, 1.000e+00, 1.000e+00, 1.000e+00, 0.000e+00, 0.000e+00,
        3.692e+04],
       [0.000e+00, 0.000e+00, 0.000e+00, 1.000e+00, 0.000e+00, 0.000e+00,
        1.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 1.000e+00, 0.000e+00,
        1.000e+00, 0.000e+00, 1.000e+00, 0.000e+00, 0.000e+00, 0.000e+00,
        8.644e+04],
       [0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 1.000e+00, 0.000e+00,
        1.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 1.000e+00,
        1.000e+00, 0.000e+00, 1.000e+00, 0.000e+00, 0.000e+00, 4.000e+00,
        1.137e+05],
       [0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 1.000e+00, 0.000e+00,
        0.000e+00, 0.000e+00, 0.000e+00, 1.000e+00, 0.000e+00, 1.000e+00,
        0.000e+00, 1.000e+00, 1.000e+00, 2.000e+00, 0.000e+00, 2.000e+00,
        8.333e+04],
       [0.000e+00, 1.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00,
        0.000e+00, 0.000e+00, 1.000e+00, 0.000e+00, 1.000e+00, 0.000e+00,
        0.000e+00, 1.000e+00, 1.000e+00, 3.000e+00, 5.000e+00, 5.000e+00,
        1.428e+05]])

In [121]:
scaler = preprocessing.StandardScaler().fit(X_test[:,18:])
X_test[:,18:] = scaler.transform(X_test[:,18:])
X_test[:19,:19]

array([[ 0.   ,  1.   ,  0.   ,  0.   ,  0.   ,  1.   ,  0.   ,  0.   ,
         0.   ,  0.   ,  1.   ,  0.   ,  0.   ,  1.   ,  0.   ,  2.   ,
         0.   ,  5.   ,  0.127],
       [ 0.   ,  0.   ,  0.   ,  0.   ,  1.   ,  1.   ,  0.   ,  0.   ,
         0.   ,  0.   ,  0.   ,  1.   ,  1.   ,  0.   ,  1.   ,  2.   ,
         2.   ,  4.   ,  0.452],
       [ 0.   ,  1.   ,  0.   ,  0.   ,  0.   ,  0.   ,  1.   ,  0.   ,
         0.   ,  0.   ,  1.   ,  0.   ,  1.   ,  0.   ,  1.   ,  2.   ,
         0.   ,  4.   ,  0.547],
       [ 0.   ,  0.   ,  0.   ,  0.   ,  1.   ,  0.   ,  1.   ,  0.   ,
         0.   ,  0.   ,  0.   ,  1.   ,  1.   ,  0.   ,  1.   ,  0.   ,
         0.   ,  4.   ,  1.118],
       [ 0.   ,  0.   ,  1.   ,  0.   ,  0.   ,  0.   ,  0.   ,  1.   ,
         0.   ,  0.   ,  1.   ,  0.   ,  1.   ,  0.   ,  1.   ,  1.   ,
         2.   ,  2.   , -1.476],
       [ 1.   ,  0.   ,  0.   ,  0.   ,  0.   ,  0.   ,  0.   ,  0.   ,
         1.   ,  0.   ,  1.   ,  0.   ,  1.   ,  0.   ,  1.   ,  1.   ,
         0.   ,  1.   , -0.92 ],
       [ 0.   ,  0.   ,  0.   ,  0.   ,  1.   ,  1.   ,  0.   ,  0.   ,
         0.   ,  0.   ,  0.   ,  1.   ,  0.   ,  1.   ,  1.   ,  2.   ,
         2.   ,  4.   , -0.101],
       [ 0.   ,  0.   ,  0.   ,  1.   ,  0.   ,  1.   ,  0.   ,  0.   ,
         0.   ,  0.   ,  0.   ,  1.   ,  1.   ,  0.   ,  1.   ,  3.   ,
         4.   ,  4.   ,  0.434],
       [ 0.   ,  0.   ,  1.   ,  0.   ,  0.   ,  0.   ,  0.   ,  0.   ,
         0.   ,  1.   ,  0.   ,  1.   ,  0.   ,  1.   ,  1.   ,  1.   ,
         4.   ,  4.   , -1.682],
       [ 0.   ,  0.   ,  0.   ,  0.   ,  1.   ,  1.   ,  0.   ,  0.   ,
         0.   ,  0.   ,  1.   ,  0.   ,  1.   ,  0.   ,  1.   ,  1.   ,
         1.   ,  1.   , -0.875],
       [ 0.   ,  0.   ,  0.   ,  1.   ,  0.   ,  0.   ,  0.   ,  1.   ,
         0.   ,  0.   ,  1.   ,  0.   ,  0.   ,  1.   ,  1.   ,  1.   ,
         1.   ,  2.   ,  0.359],
       [ 0.   ,  0.   ,  0.   ,  1.   ,  0.   ,  0.   ,  0.   ,  0.   ,
         1.   ,  0.   ,  1.   ,  0.   ,  1.   ,  0.   ,  1.   ,  2.   ,
         0.   ,  3.   , -0.101],
       [ 0.   ,  0.   ,  0.   ,  0.   ,  1.   ,  0.   ,  0.   ,  1.   ,
         0.   ,  0.   ,  0.   ,  1.   ,  1.   ,  0.   ,  1.   ,  2.   ,
         0.   ,  2.   , -0.731],
       [ 0.   ,  0.   ,  0.   ,  1.   ,  0.   ,  0.   ,  0.   ,  1.   ,
         0.   ,  0.   ,  1.   ,  0.   ,  1.   ,  0.   ,  1.   ,  2.   ,
         0.   ,  4.   , -0.513],
       [ 0.   ,  0.   ,  0.   ,  0.   ,  1.   ,  0.   ,  0.   ,  0.   ,
         1.   ,  0.   ,  1.   ,  0.   ,  0.   ,  1.   ,  1.   ,  1.   ,
         0.   ,  0.   , -1.106],
       [ 0.   ,  0.   ,  0.   ,  1.   ,  0.   ,  0.   ,  1.   ,  0.   ,
         0.   ,  0.   ,  1.   ,  0.   ,  1.   ,  0.   ,  1.   ,  0.   ,
         0.   ,  0.   ,  0.115],
       [ 0.   ,  0.   ,  0.   ,  0.   ,  1.   ,  0.   ,  1.   ,  0.   ,
         0.   ,  0.   ,  0.   ,  1.   ,  1.   ,  0.   ,  1.   ,  0.   ,
         0.   ,  4.   ,  0.785],
       [ 0.   ,  0.   ,  0.   ,  0.   ,  1.   ,  0.   ,  0.   ,  0.   ,
         0.   ,  1.   ,  0.   ,  1.   ,  0.   ,  1.   ,  1.   ,  2.   ,
         0.   ,  2.   ,  0.038],
       [ 0.   ,  1.   ,  0.   ,  0.   ,  0.   ,  0.   ,  0.   ,  0.   ,
         1.   ,  0.   ,  1.   ,  0.   ,  0.   ,  1.   ,  1.   ,  3.   ,
         5.   ,  5.   ,  1.504]])

In [122]:
X_test.shape

(500, 19)

In [123]:
X_train

array([[ 1.   ,  0.   ,  0.   , ...,  0.   ,  1.   , -0.715],
       [ 1.   ,  0.   ,  0.   , ...,  4.   ,  4.   , -0.631],
       [ 0.   ,  0.   ,  0.   , ...,  0.   ,  5.   ,  0.762],
       ...,
       [ 1.   ,  0.   ,  0.   , ...,  0.   ,  4.   , -0.096],
       [ 0.   ,  1.   ,  0.   , ...,  4.   ,  4.   ,  1.132],
       [ 0.   ,  0.   ,  0.   , ...,  0.   ,  0.   , -0.743]])

In [124]:
X_test

array([[ 0.   ,  1.   ,  0.   , ...,  0.   ,  5.   ,  0.127],
       [ 0.   ,  0.   ,  0.   , ...,  2.   ,  4.   ,  0.452],
       [ 0.   ,  1.   ,  0.   , ...,  0.   ,  4.   ,  0.547],
       ...,
       [ 0.   ,  1.   ,  0.   , ...,  3.   ,  3.   ,  1.387],
       [ 0.   ,  0.   ,  0.   , ...,  0.   ,  2.   ,  0.485],
       [ 0.   ,  0.   ,  0.   , ...,  0.   ,  4.   , -1.545]])

In [125]:
lin_mod = linear_model.LinearRegression(fit_intercept = False)
lin_mod.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=False, n_jobs=None,
         normalize=False)

In [126]:
X_test.shape

(500, 19)

In [127]:
y_score = lin_mod.predict(X_test) 
print(np.array(y_score[:500]))

[ 41.349 105.056  49.22   87.178  60.246  42.889  94.34  126.525 102.612
  55.372  59.201  48.955  72.425  45.17   36.117  50.92   84.268  73.23
 109.142  58.542  67.8    75.764 147.353  85.083  51.236  75.4    86.084
 115.616  77.819  59.604  69.02   79.497  40.175  70.429 105.548 102.671
 146.128  91.781  57.465  86.58   46.496  80.424  80.835  47.848  57.242
  75.322  61.236  87.471 115.101  78.138  81.486  94.87   79.07   64.967
  46.416  75.878  58.516  74.52   64.423  68.25   44.441  64.711  91.391
  81.886  43.676  81.165  81.298 131.006  63.937 106.761  84.853  69.792
  93.999  43.038  66.999  81.795 113.114  69.075  59.997  45.726  87.393
  73.26   45.702  88.868  85.344  48.247  82.658 119.871  97.357  53.36
  53.165  94.5    36.894  48.049  37.489 139.077  58.78   48.459  45.17
  52.833 103.727  74.842  49.217 118.843  83.777 104.121  32.333  45.65
  46.028  59.349  94.688  46.731  84.696  63.008  75.323  86.197  37.32
  39.296  46.353  88.068 123.782  87.082  81.22   38.578  77.707  56.859
  64.711  91.171  86.514 126.145  36.695  87.895 119.294  42.613  48.074
 113.113 152.008  84.024  84.244  81.648  89.831  42.05  117.064  34.251
  78.146  60.918  50.519  37.373  63.759  63.756  98.073  69.005  67.335
  77.45  104.977  35.603  74.592  70.481  79.53   95.765  37.833  70.925
  60.3    95.292 106.58   58.709  96.476 103.504  91.277  36.092  77.028
  78.334  78.952  78.738  38.366  31.736 106.902  72.264  49.418 135.396
  38.777  39.521 105.407  75.081  30.913  40.838  61.396  65.608  50.135
  57.696  81.048  79.349  75.904  80.877  92.069  69.844  46.256  74.834
  49.479  92.625  59.263  79.16   31.926  78.82  130.125  82.098 112.587
  97.074  66.48   70.293  76.786  69.73  121.618  42.048  45.022  78.177
  45.067  58.08   80.454  80.054  39.653  75.792 103.581  67.726  59.792
  46.217  60.012 101.925  82.836  87.137  89.267  51.25   72.416  67.971
 106.723  68.114  92.725  95.237  41.426  73.178  87.865  63.674  37.631
  58.947  68.541  46.414  76.511  68.768  81.708  86.97  106.197  56.148
  52.472  39.46  129.454  94.074  50.667  79.938 122.874  80.399  42.551
  68.243  86.588  66.262  80.156  68.73   43.237  77.527 109.456  59.344
 108.979  40.283  83.47   65.171 104.837  40.307 138.843  49.928 116.533
  74.554  91.281  59.936  71.808  58.055  52.516  30.512  74.408  43.633
  43.481  69.955  76.288  48.982  85.771 140.539  74.735 109.966 139.01
  39.365  64.809  36.514  46.232  55.921 120.026 101.614  75.917  34.658
 100.28  142.588 123.268  76.15   40.008 105.868 151.202  51.428  79.735
  42.409  35.753  65.107 142.33   72.369  71.938  66.11   53.068  33.662
 138.756  59.807  42.248  81.892  56.839  45.977  89.231  82.261 112.255
  55.646  69.295 114.093  78.812  37.179 115.494  48.196  92.065  74.667
  74.178  77.048  73.981  63.133  78.457  57.783 110.752  82.145  71.922
  77.968  43.496  57.555  48.78   88.327  83.84   54.771  60.097  53.407
 108.192  69.014  74.573  76.077  68.621  60.279  42.843  50.346  44.232
  63.821 135.66   43.125  90.578  71.768  84.078  45.137  75.909  42.871
  37.64  137.521  97.299  81.596  30.856  86.768  45.109  81.842 116.757
  46.047  87.894  81.564  90.189  54.681 118.492  72.121  44.792  76.103
  82.963  37.579  63.824  73.609  50.129 142.448 112.415  90.827  59.913
  85.34  105.24   43.83   80.577  44.665 106.417  63.692  76.376  58.89
  87.293  73.965  85.606 142.418  97.49   67.339  74.125  32.921  54.378
  67.862  52.161  44.067  46.562  60.721  60.867  62.806  37.632 100.358
  92.628 116.226 111.144  79.463  68.506  72.303  74.403  93.115  51.521
 107.964  90.023 117.02   38.269  77.073  44.875 109.139  63.123  44.399
  58.795 116.747  83.551  51.342  74.838  53.108  79.98   69.625  48.53
  93.935  84.914  35.641 102.676  38.112 102.986  80.135  54.281  88.428
  51.537  60.605  46.398  85.346  93.5    47.198  59.701  66.652  70.297
 137.706 131.314 126.757 128.183  81.074 108.783  74.041  72.88   29.608
 146.106  49.781  88.295  90.892  70.254  99.668 139.179  77.237  54.793
  47.94   90.824  86.016  54.777  30.876]

In [128]:
df = pd.DataFrame(y_score[:500])
df.head()

            0
0   41.349121
1  105.056152
2   49.219727
3   87.177734
4   60.246094

In [129]:
df.to_csv('aw_test_prediction.csv')