In [1]:
import pandas as pd
import functools
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import numpy.random as nr
import math
from sklearn import preprocessing
import sklearn.model_selection as ms
from sklearn import linear_model
import sklearn.metrics as sklm

%matplotlib inline

In [2]:
works_custs = pd.read_csv('AdvWorksCusts.csv')
works_custs.drop_duplicates(subset = 'CustomerID', keep = 'last', inplace = True)
print(works_custs.columns)

Index(['CustomerID', 'Title', 'FirstName', 'MiddleName', 'LastName', 'Suffix',
       'AddressLine1', 'AddressLine2', 'City', 'StateProvinceName',
       'CountryRegionName', 'PostalCode', 'PhoneNumber', 'BirthDate',
       'Education', 'Occupation', 'Gender', 'MaritalStatus', 'HomeOwnerFlag',
       'NumberCarsOwned', 'NumberChildrenAtHome', 'TotalChildren',
       'YearlyIncome'],
      dtype='object')

In [3]:
works_custs.head()

,CustomerID,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,...,BirthDate,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome
0,11000,NaN,Jon,V,Yang,NaN,3761 N. 14th St,NaN,Rockhampton,Queensland,...,4/8/66,Bachelors,Professional,M,M,1,0,0,2,137947
1,11001,NaN,Eugene,L,Huang,NaN,2243 W St.,NaN,Seaford,Victoria,...,5/14/65,Bachelors,Professional,M,S,0,1,3,3,101141
2,11002,NaN,Ruben,NaN,Torres,NaN,5844 Linden Land,NaN,Hobart,Tasmania,...,8/12/65,Bachelors,Professional,M,M,1,1,3,3,91945
3,11003,NaN,Christy,NaN,Zhu,NaN,1825 Village Pl.,NaN,North Ryde,New South Wales,...,2/15/68,Bachelors,Professional,F,S,0,1,0,0,86688
4,11004,NaN,Elizabeth,NaN,Johnson,NaN,7553 Harness Circle,NaN,Wollongong,New South Wales,...,8/8/68,Bachelors,Professional,F,S,1,4,5,5,92771

In [4]:
bike_buyer = pd.read_csv('AW_BikeBuyer.csv')
bike_buyer.drop_duplicates(subset = 'CustomerID', keep = 'last', inplace = True)
print(bike_buyer.columns)

Index(['CustomerID', 'BikeBuyer'], dtype='object')

In [5]:
bike_buyer.head()

   CustomerID  BikeBuyer
0       11000          0
1       11001          1
2       11002          0
3       11003          0
4       11004          1

In [6]:
works_custs_bike_buyer = pd.merge(works_custs, bike_buyer, how='left', on='CustomerID')
print(works_custs_bike_buyer.columns)
print(works_custs_bike_buyer)

Index(['CustomerID', 'Title', 'FirstName', 'MiddleName', 'LastName', 'Suffix',
       'AddressLine1', 'AddressLine2', 'City', 'StateProvinceName',
       'CountryRegionName', 'PostalCode', 'PhoneNumber', 'BirthDate',
       'Education', 'Occupation', 'Gender', 'MaritalStatus', 'HomeOwnerFlag',
       'NumberCarsOwned', 'NumberChildrenAtHome', 'TotalChildren',
       'YearlyIncome', 'BikeBuyer'],
      dtype='object')
       CustomerID Title   FirstName MiddleName    LastName Suffix  \
0           11000   NaN         Jon          V        Yang    NaN
1           11001   NaN      Eugene          L       Huang    NaN
2           11002   NaN       Ruben        NaN      Torres    NaN
3           11003   NaN     Christy        NaN         Zhu    NaN
4           11004   NaN   Elizabeth        NaN     Johnson    NaN
5           11005   NaN       Julio        NaN        Ruiz    NaN
6           11006   NaN       Janet          G     Alvarez    NaN
7           11007   NaN       Marco        NaN       Mehta    NaN
8           11008   NaN         Rob        NaN     Verhoff    NaN
9           11009   NaN     Shannon          C     Carlson    NaN
10          11010   NaN   Jacquelyn          C      Suarez    NaN
11          11011   NaN      Curtis        NaN          Lu    NaN
12          11012   NaN      Lauren          M      Walker    NaN
13          11013   NaN         Ian          M     Jenkins    NaN
14          11014   NaN      Sydney        NaN     Bennett    NaN
15          11015   NaN       Chloe        NaN       Young    NaN
16          11016   NaN       Wyatt          L        Hill    NaN
17          11019   NaN        Luke          L         Lal    NaN
18          11020   NaN      Jordan          C        King    NaN
19          11023   NaN        Seth          M     Edwards    NaN
20          11024   NaN     Russell        NaN         Xie    NaN
21          11025   NaN   Alejandro        NaN        Beck    NaN
22          11026   NaN      Harold        NaN         Sai    NaN
23          11027   NaN      Jessie          R        Zhao    NaN
24          11028   NaN        Jill        NaN     Jimenez    NaN
25          11031   NaN     Theresa          G       Ramos    NaN
26          11032   NaN      Denise        NaN       Stone    NaN
27          11033   NaN       Jaime        NaN        Nath    NaN
28          11034   NaN       Ebony        NaN    Gonzalez    NaN
29          11035   NaN       Wendy        NaN   Dominguez    NaN
...           ...   ...         ...        ...         ...    ...
16374       29464   NaN      Eugene        NaN         Gao    NaN
16375       29465   NaN         Roy        NaN        Gill    NaN
16376       29466   NaN       Lance        NaN     Jimenez    NaN
16377       29467   NaN      Monica          J       Mehta    NaN
16378       29468   NaN  Jacqueline          H      Morris    NaN
16379       29469   NaN   Dominique          M    Saunders    NaN
16380       29470   NaN      Nathan        NaN     Roberts    NaN
16381       29471   NaN        Dana        NaN      Ortega    NaN
16382       29472   NaN       Lacey          M      Sharma    NaN
16383       29473   NaN      Carmen          J      Subram    NaN
16384       29474   NaN       Jaime          B        Raje    NaN
16385       29475   NaN       Jared          A        Ward    NaN
16386       29476   NaN   Elizabeth        NaN     Bradley    NaN
16387       29477   NaN        Neil          N        Ruiz    NaN
16388       29478   NaN      Darren          D     Carlson    NaN
16389       29479   NaN       Tommy          L        Tang    NaN
16390       29480   NaN        Nina          W        Raji    NaN
16391       29481   NaN        Ivan        NaN        Suri    NaN
16392       29482   NaN     Clayton        NaN       Zhang    NaN
16393       25352   NaN     Brandon          S    Martinez    NaN
16394       13139   NaN      Carmen          C       Perez    NaN
16395       18651   NaN      Isaiah          A    Mitchell    NaN
16396       24992   NaN       Faith          L      Bryant    NaN
16397       11442   NaN      Joseph          D      Harris    NaN
16398       18487   NaN       Tasha          J        Nath    NaN
16399       13121   NaN     Latasha          E     Jimenez    NaN
16400       26100   NaN       James     Garner  Ptaszynski    NaN
16401       11328   NaN      Julian          M     Griffin    NaN
16402       23077   NaN      Marvin          A   Hernandez    NaN
16403       18982   NaN        Kyle        NaN       Baker    NaN

                      AddressLine1 AddressLine2                City  \
0                  3761 N. 14th St          NaN         Rockhampton
1                       2243 W St.          NaN             Seaford
2                 5844 Linden Land          NaN              Hobart
3                 1825 Village Pl.          NaN          North Ryde
4              7553 Harness Circle          NaN          Wollongong
5              7305 Humphrey Drive          NaN       East Brisbane
6                    2612 Berry Dr          NaN          Matraville
7                 942 Brook Street          NaN         Warrnambool
8                 624 Peabody Road          NaN             Bendigo
9              3839 Northgate Road          NaN          Hervey Bay
10             7800 Corrinne Court          NaN       East Brisbane
11                    1224 Shoenic          NaN       East Brisbane
12               4785 Scott Street          NaN           Bremerton
13                7902 Hudson Ave.          NaN             Lebanon
14                 9011 Tank Drive          NaN             Redmond
15            244 Willow Pass Road          NaN             Burbank
16             9666 Northridge Ct.          NaN      Imperial Beach
17                 7832 Landing Dr          NaN             Langley
18                   7156 Rose Dr.          NaN           Metchosin
19               4499 Valley Crest          NaN          Bellflower
20               8734 Oxford Place          NaN             Concord
21       2596 Franklin Canyon Road          NaN           Hawthorne
22                  8211 Leeds Ct.          NaN            Goulburn
23              213 Valencia Place          NaN         Warrnambool
24               9111 Rose Ann Ave          NaN        St. Leonards
25               6465 Detroit Ave.          NaN          Matraville
26              626 Bentley Street          NaN           Melbourne
27                 5927 Rainbow Dr          NaN       Milsons Point
28               5167 Condor Place          NaN        North Sydney
29             1873 Mt. Whitney Dr          NaN          Cranbourne
...                            ...          ...                 ...
16374         4581 Coldwater Drive          NaN         Rockhampton
16375      4072 South Hampton Road          NaN          Matraville
16376           Auf Der Steige 532          NaN            Solingen
16377             Bundesallee 2461          NaN     Sulzbach Taunus
16378          6934 Santa Cruz Dr.          NaN          Cheltenham
16379            3792 Westwood Ct.          NaN                Oxon
16380  29, boulevard Beau Marchais          NaN              Drancy
16381        80, rue de Fontfroide          NaN           Dunkerque
16382            21, avenue Reille          NaN               Paris
16383             6467 Buena Vista          NaN              Oxford
16384         Potsdamer Straße 646          NaN         Saarbrücken
16385                Erftplatz 876          NaN             Hamburg
16386                 Nonnendamm 2          NaN             Hamburg
16387                P.O. Box 9178          NaN              London
16388             5240 Premier Pl.          NaN      Stoke-on-Trent
16389            111, rue Maillard          NaN          Versailles
16390            9 Katherine Drive          NaN              London
16391                  Knaackstr 4          NaN                 Hof
16392       1080, quai de Grenelle          NaN          Saint Ouen
16393         843 Camino Verde Cr.          NaN         Lake Oswego
16394       1622 Silver Oaks Place          NaN           Lane Cove
16395            5014 Steele Drive          NaN            Lynnwood
16396  6267 Morello Heights Circle          NaN         Chula Vista
16397       8, rue des Vendangeurs          NaN  Tremblay-en-France
16398             4992 Yorba Linda          NaN             Sunbury
16399               7259 Birchwood          NaN              Melton
16400              7345 Kenwal Rd.          NaN             Shawnee
16401          7398 Withersed Lane          NaN              Newton
16402               1019 Book Road          NaN              Rhodes
16403              2118 Little Dr.          NaN            Kirkland

         StateProvinceName    ...                Education      Occupation  \
0               Queensland    ...               Bachelors     Professional
1                 Victoria    ...               Bachelors     Professional
2                 Tasmania    ...               Bachelors     Professional
3          New South Wales    ...               Bachelors     Professional
4          New South Wales    ...               Bachelors     Professional
5               Queensland    ...               Bachelors     Professional
6          New South Wales    ...               Bachelors     Professional
7                 Victoria    ...               Bachelors     Professional
8                 Victoria    ...               Bachelors     Professional
9               Queensland    ...               Bachelors     Professional
10              Queensland    ...               Bachelors     Professional
11              Queensland    ...               Bachelors     Professional
12              Washington    ...               Bachelors       Management
13                  Oregon    ...               Bachelors       Management
14              Washington    ...               Bachelors       Management
15              California    ...          Partial College  Skilled Manual
16              California    ...          Partial College  Skilled Manual
17        British Columbia    ...              High School  Skilled Manual
18        British Columbia    ...              High School  Skilled Manual
19              California    ...          Partial College  Skilled Manual
20              California    ...          Partial College  Skilled Manual
21              Queensland    ...      Partial High School        Clerical
22         New South Wales    ...          Partial College        Clerical
23                Victoria    ...          Partial College        Clerical
24         New South Wales    ...          Partial College        Clerical
25         New South Wales    ...              High School  Skilled Manual
26                Victoria    ...              High School  Skilled Manual
27         New South Wales    ...              High School  Skilled Manual
28         New South Wales    ...              High School  Skilled Manual
29                Victoria    ...      Partial High School        Clerical
...                    ...    ...                      ...             ...
16374           Queensland    ...              High School          Manual
16375      New South Wales    ...          Partial College          Manual
16376  Nordrhein-Westfalen    ...               Bachelors         Clerical
16377             Saarland    ...          Graduate Degree        Clerical
16378              England    ...          Graduate Degree        Clerical
16379              England    ...          Graduate Degree        Clerical
16380    Seine Saint Denis    ...              High School          Manual
16381                 Nord    ...              High School          Manual
16382        Seine (Paris)    ...              High School          Manual
16383              England    ...          Partial College          Manual
16384             Saarland    ...          Partial College          Manual
16385              Hamburg    ...          Partial College          Manual
16386              Hamburg    ...          Partial College          Manual
16387              England    ...          Partial College          Manual
16388              England    ...          Graduate Degree        Clerical
16389              Yveline    ...          Graduate Degree        Clerical
16390              England    ...          Graduate Degree        Clerical
16391               Bayern    ...          Graduate Degree        Clerical
16392    Charente-Maritime    ...               Bachelors         Clerical
16393               Oregon    ...      Partial High School        Clerical
16394      New South Wales    ...          Partial College  Skilled Manual
16395           Washington    ...              High School        Clerical
16396           California    ...      Partial High School  Skilled Manual
16397    Seine Saint Denis    ...      Partial High School  Skilled Manual
16398             Victoria    ...              High School  Skilled Manual
16399             Victoria    ...               Bachelors     Professional
16400     British Columbia    ...          Partial College    Professional
16401     British Columbia    ...               Bachelors       Management
16402      New South Wales    ...              High School  Skilled Manual
16403           Washington    ...              High School    Professional

      Gender MaritalStatus HomeOwnerFlag NumberCarsOwned NumberChildrenAtHome  \
0          M             M             1               0                    0
1          M             S             0               1                    3
2          M             M             1               1                    3
3          F             S             0               1                    0
4          F             S             1               4                    5
5          M             S             1               1                    0
6          F             S             1               1                    0
7          M             M             1               2                    3
8          F             S             1               3                    4
9          M             S             0               1                    0
10         F             S             0               1                    0
11         M             M             1               4                    4
12         F             M             1               2                    0
13         M             M             1               3                    0
14         F             S             0               3                    0
15         F             S             0               1                    0
16         M             M             1               1                    0
17         M             S             0               2                    0
18         M             S             0               2                    0
19         M             M             1               1                    0
20         M             M             1               2                    0
21         M             M             1               2                    1
22         M             S             0               2                    0
23         M             M             1               2                    0
24         F             M             1               2                    0
25         F             M             1               2                    0
26         F             M             1               2                    0
27         M             M             1               2                    0
28         F             M             1               2                    0
29         F             M             1               2                    1
...      ...           ...           ...             ...                  ...
16374      M             S             0               0                    1
16375      M             S             1               0                    0
16376      M             M             1               0                    0
16377      F             M             1               0                    0
16378      F             M             0               0                    0
16379      F             M             0               0                    0
16380      M             S             0               1                    1
16381      F             S             0               1                    1
16382      F             M             0               1                    1
16383      F             S             0               0                    1
16384      M             M             0               1                    0
16385      M             S             0               1                    0
16386      F             M             0               1                    0
16387      M             M             0               1                    0
16388      M             S             1               0                    0
16389      M             M             1               0                    0
16390      F             S             1               0                    0
16391      M             S             0               0                    0
16392      M             M             1               0                    0
16393      M             M             0               2                    1
16394      F             S             0               1                    0
16395      M             M             0               2                    0
16396      F             M             1               2                    1
16397      M             M             1               2                    0
16398      F             S             0               2                    0
16399      F             M             1               4                    5
16400      F             S             1               2                    0
16401      M             M             1               2                    0
16402      M             M             1               2                    0
16403      M             S             1               2                    0

      TotalChildren  YearlyIncome  BikeBuyer
0                 2        137947          0
1                 3        101141          1
2                 3         91945          0
3                 0         86688          0
4                 5         92771          1
5                 0        103199          1
6                 0         84756          1
7                 3        109759          1
8                 4         88005          1
9                 0        106399          0
10                0         81294          0
11                4         94029          1
12                2         99245          1
13                2        115859          0
14                3        105157          0
15                0         40011          0
16                0         46808          0
17                0         49455          1
18                0         43857          0
19                0         50046          0
20                0         91276          0
21                2         24334          0
22                2         61905          0
23                2         49349          0
24                2         44068          0
25                4         18843          0
26                4         15861          0
27                4         35822          0
28                4         29017          0
29                2         11721          0
...             ...           ...        ...
16374             1         12002          0
16375             0         22109          0
16376             1         59132          0
16377             4         75167          0
16378             4         62297          0
16379             3         65669          0
16380             1         28464          1

In [7]:
print(works_custs_bike_buyer.shape)
works_custs_bike_buyer.head()

(16404, 24)

,CustomerID,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,...,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,BikeBuyer
0,11000,NaN,Jon,V,Yang,NaN,3761 N. 14th St,NaN,Rockhampton,Queensland,...,Bachelors,Professional,M,M,1,0,0,2,137947,0
1,11001,NaN,Eugene,L,Huang,NaN,2243 W St.,NaN,Seaford,Victoria,...,Bachelors,Professional,M,S,0,1,3,3,101141,1
2,11002,NaN,Ruben,NaN,Torres,NaN,5844 Linden Land,NaN,Hobart,Tasmania,...,Bachelors,Professional,M,M,1,1,3,3,91945,0
3,11003,NaN,Christy,NaN,Zhu,NaN,1825 Village Pl.,NaN,North Ryde,New South Wales,...,Bachelors,Professional,F,S,0,1,0,0,86688,0
4,11004,NaN,Elizabeth,NaN,Johnson,NaN,7553 Harness Circle,NaN,Wollongong,New South Wales,...,Bachelors,Professional,F,S,1,4,5,5,92771,1

In [8]:
labels = np.array(works_custs_bike_buyer['BikeBuyer'])
labels.size

16404

In [9]:
def encode_string(cat_features):
    ## First encode the strings to numeric categories
    enc = preprocessing.LabelEncoder()
    enc.fit(cat_features)
    enc_cat_features = enc.transform(cat_features)
    ## Now, apply one hot encoding
    ohe = preprocessing.OneHotEncoder()
    encoded = ohe.fit(enc_cat_features.reshape(-1,1))
    return encoded.transform(enc_cat_features.reshape(-1,1)).toarray()

categorical_columns = ['Education', 'Gender', 'MaritalStatus']

Features = encode_string(works_custs_bike_buyer['Occupation'])
for col in categorical_columns:
    temp = encode_string(works_custs_bike_buyer[col])
    Features = np.concatenate([Features, temp], axis = 1)

print(Features.shape)
print(Features[:2, :])

(16404, 14)
[[0. 0. 0. 1. 0. 1. 0. 0. 0. 0. 0. 1. 1. 0.]
 [0. 0. 0. 1. 0. 1. 0. 0. 0. 0. 0. 1. 0. 1.]]

/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

In [10]:
Features = np.concatenate([Features, np.array(works_custs_bike_buyer[['HomeOwnerFlag','NumberCarsOwned', 
                            'NumberChildrenAtHome', 'TotalChildren', 'YearlyIncome']])], axis = 1)
print(Features.shape)
print(Features[:2, :])

(16404, 19)
[[0.00000e+00 0.00000e+00 0.00000e+00 1.00000e+00 0.00000e+00 1.00000e+00
  0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 1.00000e+00
  1.00000e+00 0.00000e+00 1.00000e+00 0.00000e+00 0.00000e+00 2.00000e+00
  1.37947e+05]
 [0.00000e+00 0.00000e+00 0.00000e+00 1.00000e+00 0.00000e+00 1.00000e+00
  0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 1.00000e+00
  0.00000e+00 1.00000e+00 0.00000e+00 1.00000e+00 3.00000e+00 3.00000e+00
  1.01141e+05]]

In [11]:
## Randomly sample cases to create independent training and test data
nr.seed(9988)
indx = range(Features.shape[0])
indx = ms.train_test_split(indx, test_size = 1000) #need to have shuffle=False in here for correct answer
X_train = Features[indx[0],:]
y_train = np.ravel(labels[indx[0]])
#X_test = Features[indx[1],:]
#y_test = np.ravel(labels[indx[1]])

In [12]:
y_train

array([0, 1, 0, ..., 1, 1, 0])

In [13]:
from sklearn.feature_selection import SelectKBest

from sklearn.feature_selection import chi2

test = SelectKBest(score_func=chi2, k=4)

In [14]:
fit = test.fit(X_train, y_train)

In [15]:
features = fit.transform(X_train)
np.set_printoptions(precision=3)
print(fit.scores_)

[1.029e+02 2.036e+01 7.914e+01 2.663e+02 5.113e+01 6.870e+01 1.273e+01
 8.898e+00 1.076e+00 5.963e+01 1.098e+02 1.073e+02 2.550e+02 3.015e+02
 6.144e-03 3.669e+02 7.440e+03 1.191e+03 2.555e+07]

In [16]:
X_test1 = Features[indx[1],:]
y_test1 = np.ravel(labels[indx[1]])

In [17]:
scaler = preprocessing.StandardScaler().fit(X_train[:,18:])
X_train[:,18:] = scaler.transform(X_train[:,18:])
X_test1[:,18:] = scaler.transform(X_test1[:,18:])
X_train[:2,]

array([[ 1.   ,  0.   ,  0.   ,  0.   ,  0.   ,  0.   ,  0.   ,  0.   ,
         1.   ,  0.   ,  0.   ,  1.   ,  1.   ,  0.   ,  1.   ,  1.   ,
         0.   ,  1.   , -0.715],
       [ 1.   ,  0.   ,  0.   ,  0.   ,  0.   ,  0.   ,  0.   ,  0.   ,
         1.   ,  0.   ,  1.   ,  0.   ,  0.   ,  1.   ,  1.   ,  3.   ,
         4.   ,  4.   , -0.631]])

In [18]:
logistic_mod = linear_model.LogisticRegression() 
logistic_mod.fit(X_train, y_train)

/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [19]:
print(logistic_mod.intercept_)
print(logistic_mod.coef_)

[-0.629]
[[-3.547e-02 -8.908e-01  2.169e-01 -4.294e-02  1.238e-01  2.242e-01
   2.916e-02 -2.381e-01 -1.333e-01 -5.106e-01 -6.282e-01 -3.413e-04
  -1.096e+00  4.679e-01  1.124e-01 -8.779e-02  8.404e-01 -1.120e-01
   5.960e-01]]

In [20]:
probabilities = logistic_mod.predict_proba(X_test1)
print(probabilities[:15,:])

[[0.818 0.182]
 [0.539 0.461]
 [0.648 0.352]
 [0.733 0.267]
 [0.896 0.104]
 [0.96  0.04 ]
 [0.924 0.076]
 [0.911 0.089]
 [0.929 0.071]
 [0.736 0.264]
 [0.976 0.024]
 [0.419 0.581]
 [0.773 0.227]
 [0.627 0.373]
 [0.807 0.193]]

In [21]:
def score_model(probs, threshold):
    return np.array([1 if x > threshold else 0 for x in probs[:,1]])
scores = score_model(probabilities, 0.5)
print(np.array(scores[:500]))

[0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 1 0 0 0 1 0 1 1 0 0 0 0 0 1 0 0 0
 1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 1 0 0 0
 1 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 1 0 1 0 0 0
 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 1 0 0 0 0 0 1 1 0 0 0
 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 1 1 0 0 0 0 1 0 0 0 0
 0 0 0 0 1 0 1 1 0 0 1 0 1 1 0 0 0 0 0 0 1 1 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 1 0 0 0 0 1 1 0 0 0 0 1 0 1 0 0 1 1 0 0 0 0 0 0 1 0 0 1 0 0 1 1 0 0 0
 0 1 1 1 0 1 0 0 0 1 0 1 0 1 1 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1
 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 1 0 0 1 0 1 1 0 0 1
 0 0 0 1 0 1 0 0 0 0 1 0 0 1 0 0 0 0 0 1 0 0 1 0 0 0 0 1 0 0 0 0 1 0 1 1 1
 1 0 1 0 0 0 0 0 0 0 1 1 1 1 0 1 0 0 0 0 0 1 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 1 1 0 0 0 1 0 1 1 0 0 1
 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 1 0 1 0 0 0
 0 0 0 1 1 1 1 1 0 0 0 1 0 1 0 1 0 1 1]

In [22]:
aw_test = pd.read_csv('aw_test.csv')
print(aw_test.shape)
aw_test.head()

(500, 23)

,CustomerID,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,...,BirthDate,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome
0,18988,NaN,Courtney,A,Baker,NaN,8727 Buena Vista Ave.,NaN,Fremont,California,...,1/5/1945,Bachelors,Management,F,S,0,2,0,5,86931
1,29135,NaN,Adam,C,Allen,NaN,3491 Cook Street,NaN,Haney,British Columbia,...,10/4/1964,Bachelors,Skilled Manual,M,M,1,2,2,4,100125
2,12156,NaN,Bonnie,NaN,Raji,NaN,359 Pleasant Hill Rd,NaN,Burbank,California,...,1/12/1934,Graduate Degree,Management,F,M,1,2,0,4,103985
3,13749,NaN,Julio,C,Alonso,NaN,8945 Euclid Ave.,NaN,Burlingame,California,...,9/22/1958,Graduate Degree,Skilled Manual,M,M,1,0,0,4,127161
4,27780,NaN,Christy,A,Andersen,NaN,"42, boulevard Tremblay",NaN,Dunkerque,Nord,...,3/19/1965,High School,Manual,F,M,1,1,2,2,21876

In [23]:
categorical_columns

['Education', 'Gender', 'MaritalStatus']

In [24]:
temp

array([[1., 0.],
       [0., 1.],
       [1., 0.],
       ...,
       [1., 0.],
       [1., 0.],
       [0., 1.]])

In [25]:
FeaturesT = encode_string(aw_test['Occupation'])
for col in categorical_columns:
    tempT = encode_string(aw_test[col])
    FeaturesT = np.concatenate([FeaturesT, tempT], axis = 1)

print(FeaturesT.shape)
print(FeaturesT[:20, :])

(500, 14)
[[0. 1. 0. 0. 0. 1. 0. 0. 0. 0. 1. 0. 0. 1.]
 [0. 0. 0. 0. 1. 1. 0. 0. 0. 0. 0. 1. 1. 0.]
 [0. 1. 0. 0. 0. 0. 1. 0. 0. 0. 1. 0. 1. 0.]
 [0. 0. 0. 0. 1. 0. 1. 0. 0. 0. 0. 1. 1. 0.]
 [0. 0. 1. 0. 0. 0. 0. 1. 0. 0. 1. 0. 1. 0.]
 [1. 0. 0. 0. 0. 0. 0. 0. 1. 0. 1. 0. 1. 0.]
 [0. 0. 0. 0. 1. 1. 0. 0. 0. 0. 0. 1. 0. 1.]
 [0. 0. 0. 1. 0. 1. 0. 0. 0. 0. 0. 1. 1. 0.]
 [0. 0. 1. 0. 0. 0. 0. 0. 0. 1. 0. 1. 0. 1.]
 [0. 0. 0. 0. 1. 1. 0. 0. 0. 0. 1. 0. 1. 0.]
 [0. 0. 0. 1. 0. 0. 0. 1. 0. 0. 1. 0. 0. 1.]
 [0. 0. 0. 1. 0. 0. 0. 0. 1. 0. 1. 0. 1. 0.]
 [0. 0. 0. 0. 1. 0. 0. 1. 0. 0. 0. 1. 1. 0.]
 [0. 0. 0. 1. 0. 0. 0. 1. 0. 0. 1. 0. 1. 0.]
 [0. 0. 0. 0. 1. 0. 0. 0. 1. 0. 1. 0. 0. 1.]
 [0. 0. 0. 1. 0. 0. 1. 0. 0. 0. 1. 0. 1. 0.]
 [0. 0. 0. 0. 1. 0. 1. 0. 0. 0. 0. 1. 1. 0.]
 [0. 0. 0. 0. 1. 0. 0. 0. 0. 1. 0. 1. 0. 1.]
 [0. 1. 0. 0. 0. 0. 0. 0. 1. 0. 1. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 1. 0. 1. 0. 0. 1.]]

/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

In [26]:
FeaturesT = np.concatenate([FeaturesT, np.array(aw_test[['HomeOwnerFlag','NumberCarsOwned', 
                            'NumberChildrenAtHome', 'TotalChildren', 'YearlyIncome']])], axis = 1)
print(FeaturesT.shape)
print(FeaturesT[:2, :])

(500, 19)
[[0.000e+00 1.000e+00 0.000e+00 0.000e+00 0.000e+00 1.000e+00 0.000e+00
  0.000e+00 0.000e+00 0.000e+00 1.000e+00 0.000e+00 0.000e+00 1.000e+00
  0.000e+00 2.000e+00 0.000e+00 5.000e+00 8.693e+04]
 [0.000e+00 0.000e+00 0.000e+00 0.000e+00 1.000e+00 1.000e+00 0.000e+00
  0.000e+00 0.000e+00 0.000e+00 0.000e+00 1.000e+00 1.000e+00 0.000e+00
  1.000e+00 2.000e+00 2.000e+00 4.000e+00 1.001e+05]]

In [27]:
indxT = range(FeaturesT.shape[0])
indxT = ms.train_test_split(indxT, test_size=0, shuffle=False)
X_test = FeaturesT[indxT[0],:]

#y_test = np.ravel(labelsT[indxT[0]])
X_test[:19, :19]

array([[0.000e+00, 1.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 1.000e+00,
        0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 1.000e+00, 0.000e+00,
        0.000e+00, 1.000e+00, 0.000e+00, 2.000e+00, 0.000e+00, 5.000e+00,
        8.693e+04],
       [0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 1.000e+00, 1.000e+00,
        0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 1.000e+00,
        1.000e+00, 0.000e+00, 1.000e+00, 2.000e+00, 2.000e+00, 4.000e+00,
        1.001e+05],
       [0.000e+00, 1.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00,
        1.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 1.000e+00, 0.000e+00,
        1.000e+00, 0.000e+00, 1.000e+00, 2.000e+00, 0.000e+00, 4.000e+00,
        1.040e+05],
       [0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 1.000e+00, 0.000e+00,
        1.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 1.000e+00,
        1.000e+00, 0.000e+00, 1.000e+00, 0.000e+00, 0.000e+00, 4.000e+00,
        1.272e+05],
       [0.000e+00, 0.000e+00, 1.000e+00, 0.000e+00, 0.000e+00, 0.000e+00,
        0.000e+00, 1.000e+00, 0.000e+00, 0.000e+00, 1.000e+00, 0.000e+00,
        1.000e+00, 0.000e+00, 1.000e+00, 1.000e+00, 2.000e+00, 2.000e+00,
        2.188e+04],
       [1.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00,
        0.000e+00, 0.000e+00, 1.000e+00, 0.000e+00, 1.000e+00, 0.000e+00,
        1.000e+00, 0.000e+00, 1.000e+00, 1.000e+00, 0.000e+00, 1.000e+00,
        4.447e+04],
       [0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 1.000e+00, 1.000e+00,
        0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 1.000e+00,
        0.000e+00, 1.000e+00, 1.000e+00, 2.000e+00, 2.000e+00, 4.000e+00,
        7.770e+04],
       [0.000e+00, 0.000e+00, 0.000e+00, 1.000e+00, 0.000e+00, 1.000e+00,
        0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 1.000e+00,
        1.000e+00, 0.000e+00, 1.000e+00, 3.000e+00, 4.000e+00, 4.000e+00,
        9.942e+04],
       [0.000e+00, 0.000e+00, 1.000e+00, 0.000e+00, 0.000e+00, 0.000e+00,
        0.000e+00, 0.000e+00, 0.000e+00, 1.000e+00, 0.000e+00, 1.000e+00,
        0.000e+00, 1.000e+00, 1.000e+00, 1.000e+00, 4.000e+00, 4.000e+00,
        1.352e+04],
       [0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 1.000e+00, 1.000e+00,
        0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 1.000e+00, 0.000e+00,
        1.000e+00, 0.000e+00, 1.000e+00, 1.000e+00, 1.000e+00, 1.000e+00,
        4.626e+04],
       [0.000e+00, 0.000e+00, 0.000e+00, 1.000e+00, 0.000e+00, 0.000e+00,
        0.000e+00, 1.000e+00, 0.000e+00, 0.000e+00, 1.000e+00, 0.000e+00,
        0.000e+00, 1.000e+00, 1.000e+00, 1.000e+00, 1.000e+00, 2.000e+00,
        9.638e+04],
       [0.000e+00, 0.000e+00, 0.000e+00, 1.000e+00, 0.000e+00, 0.000e+00,
        0.000e+00, 0.000e+00, 1.000e+00, 0.000e+00, 1.000e+00, 0.000e+00,
        1.000e+00, 0.000e+00, 1.000e+00, 2.000e+00, 0.000e+00, 3.000e+00,
        7.769e+04],
       [0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 1.000e+00, 0.000e+00,
        0.000e+00, 1.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 1.000e+00,
        1.000e+00, 0.000e+00, 1.000e+00, 2.000e+00, 0.000e+00, 2.000e+00,
        5.213e+04],
       [0.000e+00, 0.000e+00, 0.000e+00, 1.000e+00, 0.000e+00, 0.000e+00,
        0.000e+00, 1.000e+00, 0.000e+00, 0.000e+00, 1.000e+00, 0.000e+00,
        1.000e+00, 0.000e+00, 1.000e+00, 2.000e+00, 0.000e+00, 4.000e+00,
        6.098e+04],
       [0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 1.000e+00, 0.000e+00,
        0.000e+00, 0.000e+00, 1.000e+00, 0.000e+00, 1.000e+00, 0.000e+00,
        0.000e+00, 1.000e+00, 1.000e+00, 1.000e+00, 0.000e+00, 0.000e+00,
        3.692e+04],
       [0.000e+00, 0.000e+00, 0.000e+00, 1.000e+00, 0.000e+00, 0.000e+00,
        1.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 1.000e+00, 0.000e+00,
        1.000e+00, 0.000e+00, 1.000e+00, 0.000e+00, 0.000e+00, 0.000e+00,
        8.644e+04],
       [0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 1.000e+00, 0.000e+00,
        1.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 1.000e+00,
        1.000e+00, 0.000e+00, 1.000e+00, 0.000e+00, 0.000e+00, 4.000e+00,
        1.137e+05],
       [0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 1.000e+00, 0.000e+00,
        0.000e+00, 0.000e+00, 0.000e+00, 1.000e+00, 0.000e+00, 1.000e+00,
        0.000e+00, 1.000e+00, 1.000e+00, 2.000e+00, 0.000e+00, 2.000e+00,
        8.333e+04],
       [0.000e+00, 1.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00,
        0.000e+00, 0.000e+00, 1.000e+00, 0.000e+00, 1.000e+00, 0.000e+00,
        0.000e+00, 1.000e+00, 1.000e+00, 3.000e+00, 5.000e+00, 5.000e+00,
        1.428e+05]])

In [28]:
scaler = preprocessing.StandardScaler().fit(X_test[:,18:])
X_test[:,18:] = scaler.transform(X_test[:,18:])
X_test[:19,:19]

array([[ 0.   ,  1.   ,  0.   ,  0.   ,  0.   ,  1.   ,  0.   ,  0.   ,
         0.   ,  0.   ,  1.   ,  0.   ,  0.   ,  1.   ,  0.   ,  2.   ,
         0.   ,  5.   ,  0.127],
       [ 0.   ,  0.   ,  0.   ,  0.   ,  1.   ,  1.   ,  0.   ,  0.   ,
         0.   ,  0.   ,  0.   ,  1.   ,  1.   ,  0.   ,  1.   ,  2.   ,
         2.   ,  4.   ,  0.452],
       [ 0.   ,  1.   ,  0.   ,  0.   ,  0.   ,  0.   ,  1.   ,  0.   ,
         0.   ,  0.   ,  1.   ,  0.   ,  1.   ,  0.   ,  1.   ,  2.   ,
         0.   ,  4.   ,  0.547],
       [ 0.   ,  0.   ,  0.   ,  0.   ,  1.   ,  0.   ,  1.   ,  0.   ,
         0.   ,  0.   ,  0.   ,  1.   ,  1.   ,  0.   ,  1.   ,  0.   ,
         0.   ,  4.   ,  1.118],
       [ 0.   ,  0.   ,  1.   ,  0.   ,  0.   ,  0.   ,  0.   ,  1.   ,
         0.   ,  0.   ,  1.   ,  0.   ,  1.   ,  0.   ,  1.   ,  1.   ,
         2.   ,  2.   , -1.476],
       [ 1.   ,  0.   ,  0.   ,  0.   ,  0.   ,  0.   ,  0.   ,  0.   ,
         1.   ,  0.   ,  1.   ,  0.   ,  1.   ,  0.   ,  1.   ,  1.   ,
         0.   ,  1.   , -0.92 ],
       [ 0.   ,  0.   ,  0.   ,  0.   ,  1.   ,  1.   ,  0.   ,  0.   ,
         0.   ,  0.   ,  0.   ,  1.   ,  0.   ,  1.   ,  1.   ,  2.   ,
         2.   ,  4.   , -0.101],
       [ 0.   ,  0.   ,  0.   ,  1.   ,  0.   ,  1.   ,  0.   ,  0.   ,
         0.   ,  0.   ,  0.   ,  1.   ,  1.   ,  0.   ,  1.   ,  3.   ,
         4.   ,  4.   ,  0.434],
       [ 0.   ,  0.   ,  1.   ,  0.   ,  0.   ,  0.   ,  0.   ,  0.   ,
         0.   ,  1.   ,  0.   ,  1.   ,  0.   ,  1.   ,  1.   ,  1.   ,
         4.   ,  4.   , -1.682],
       [ 0.   ,  0.   ,  0.   ,  0.   ,  1.   ,  1.   ,  0.   ,  0.   ,
         0.   ,  0.   ,  1.   ,  0.   ,  1.   ,  0.   ,  1.   ,  1.   ,
         1.   ,  1.   , -0.875],
       [ 0.   ,  0.   ,  0.   ,  1.   ,  0.   ,  0.   ,  0.   ,  1.   ,
         0.   ,  0.   ,  1.   ,  0.   ,  0.   ,  1.   ,  1.   ,  1.   ,
         1.   ,  2.   ,  0.359],
       [ 0.   ,  0.   ,  0.   ,  1.   ,  0.   ,  0.   ,  0.   ,  0.   ,
         1.   ,  0.   ,  1.   ,  0.   ,  1.   ,  0.   ,  1.   ,  2.   ,
         0.   ,  3.   , -0.101],
       [ 0.   ,  0.   ,  0.   ,  0.   ,  1.   ,  0.   ,  0.   ,  1.   ,
         0.   ,  0.   ,  0.   ,  1.   ,  1.   ,  0.   ,  1.   ,  2.   ,
         0.   ,  2.   , -0.731],
       [ 0.   ,  0.   ,  0.   ,  1.   ,  0.   ,  0.   ,  0.   ,  1.   ,
         0.   ,  0.   ,  1.   ,  0.   ,  1.   ,  0.   ,  1.   ,  2.   ,
         0.   ,  4.   , -0.513],
       [ 0.   ,  0.   ,  0.   ,  0.   ,  1.   ,  0.   ,  0.   ,  0.   ,
         1.   ,  0.   ,  1.   ,  0.   ,  0.   ,  1.   ,  1.   ,  1.   ,
         0.   ,  0.   , -1.106],
       [ 0.   ,  0.   ,  0.   ,  1.   ,  0.   ,  0.   ,  1.   ,  0.   ,
         0.   ,  0.   ,  1.   ,  0.   ,  1.   ,  0.   ,  1.   ,  0.   ,
         0.   ,  0.   ,  0.115],
       [ 0.   ,  0.   ,  0.   ,  0.   ,  1.   ,  0.   ,  1.   ,  0.   ,
         0.   ,  0.   ,  0.   ,  1.   ,  1.   ,  0.   ,  1.   ,  0.   ,
         0.   ,  4.   ,  0.785],
       [ 0.   ,  0.   ,  0.   ,  0.   ,  1.   ,  0.   ,  0.   ,  0.   ,
         0.   ,  1.   ,  0.   ,  1.   ,  0.   ,  1.   ,  1.   ,  2.   ,
         0.   ,  2.   ,  0.038],
       [ 0.   ,  1.   ,  0.   ,  0.   ,  0.   ,  0.   ,  0.   ,  0.   ,
         1.   ,  0.   ,  1.   ,  0.   ,  0.   ,  1.   ,  1.   ,  3.   ,
         5.   ,  5.   ,  1.504]])

In [29]:
X_test.shape

(500, 19)

In [30]:
X_train

array([[ 1.   ,  0.   ,  0.   , ...,  0.   ,  1.   , -0.715],
       [ 1.   ,  0.   ,  0.   , ...,  4.   ,  4.   , -0.631],
       [ 0.   ,  0.   ,  0.   , ...,  0.   ,  5.   ,  0.762],
       ...,
       [ 1.   ,  0.   ,  0.   , ...,  0.   ,  4.   , -0.096],
       [ 0.   ,  1.   ,  0.   , ...,  4.   ,  4.   ,  1.132],
       [ 0.   ,  0.   ,  0.   , ...,  0.   ,  0.   , -0.743]])

In [31]:
X_test

array([[ 0.   ,  1.   ,  0.   , ...,  0.   ,  5.   ,  0.127],
       [ 0.   ,  0.   ,  0.   , ...,  2.   ,  4.   ,  0.452],
       [ 0.   ,  1.   ,  0.   , ...,  0.   ,  4.   ,  0.547],
       ...,
       [ 0.   ,  1.   ,  0.   , ...,  3.   ,  3.   ,  1.387],
       [ 0.   ,  0.   ,  0.   , ...,  0.   ,  2.   ,  0.485],
       [ 0.   ,  0.   ,  0.   , ...,  0.   ,  4.   , -1.545]])

In [32]:
logistic_mod = linear_model.LogisticRegression() 
logistic_mod.fit(X_train, y_train)

/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [33]:
#X_test.shape

(500, 19)

In [34]:
probabilities = logistic_mod.predict_proba(X_test)
print(probabilities[:,:])

[[0.892 0.108]
 [0.485 0.515]
 [0.968 0.032]
 [0.776 0.224]
 [0.855 0.145]
 [0.959 0.041]
 [0.215 0.785]
 [0.186 0.814]
 [0.185 0.815]
 [0.855 0.145]
 [0.553 0.447]
 [0.952 0.048]
 [0.928 0.072]
 [0.969 0.031]
 [0.807 0.193]
 [0.899 0.101]
 [0.809 0.191]
 [0.693 0.307]
 [0.071 0.929]
 [0.534 0.466]
 [0.944 0.056]
 [0.843 0.157]
 [0.109 0.891]
 [0.734 0.266]
 [0.94  0.06 ]
 [0.718 0.282]
 [0.724 0.276]
 [0.087 0.913]
 [0.445 0.555]
 [0.922 0.078]
 [0.25  0.75 ]
 [0.568 0.432]
 [0.977 0.023]
 [0.786 0.214]
 [0.282 0.718]
 [0.157 0.843]
 [0.136 0.864]
 [0.641 0.359]
 [0.871 0.129]
 [0.717 0.283]
 [0.653 0.347]
 [0.534 0.466]
 [0.845 0.155]
 [0.917 0.083]
 [0.838 0.162]
 [0.893 0.107]
 [0.861 0.139]
 [0.104 0.896]
 [0.466 0.534]
 [0.879 0.121]
 [0.916 0.084]
 [0.367 0.633]
 [0.766 0.234]
 [0.955 0.045]
 [0.964 0.036]
 [0.849 0.151]
 [0.892 0.108]
 [0.568 0.432]
 [0.968 0.032]
 [0.683 0.317]
 [0.934 0.066]
 [0.976 0.024]
 [0.761 0.239]
 [0.228 0.772]
 [0.69  0.31 ]
 [0.137 0.863]
 [0.389 0.611]
 [0.226 0.774]
 [0.818 0.182]
 [0.254 0.746]
 [0.493 0.507]
 [0.957 0.043]
 [0.76  0.24 ]
 [0.966 0.034]
 [0.728 0.272]
 [0.239 0.761]
 [0.095 0.905]
 [0.3   0.7  ]
 [0.844 0.156]
 [0.949 0.051]
 [0.439 0.561]
 [0.597 0.403]
 [0.944 0.056]
 [0.424 0.576]
 [0.758 0.242]
 [0.963 0.037]
 [0.843 0.157]
 [0.092 0.908]
 [0.195 0.805]
 [0.932 0.068]
 [0.956 0.044]
 [0.431 0.569]
 [0.899 0.101]
 [0.659 0.341]
 [0.976 0.024]
 [0.126 0.874]
 [0.83  0.17 ]
 [0.91  0.09 ]
 [0.962 0.038]
 [0.895 0.105]
 [0.497 0.503]
 [0.73  0.27 ]
 [0.931 0.069]
 [0.088 0.912]
 [0.832 0.168]
 [0.6   0.4  ]
 [0.886 0.114]
 [0.847 0.153]
 [0.743 0.257]
 [0.907 0.093]
 [0.46  0.54 ]
 [0.616 0.384]
 [0.511 0.489]
 [0.849 0.151]
 [0.893 0.107]
 [0.43  0.57 ]
 [0.872 0.128]
 [0.801 0.199]
 [0.77  0.23 ]
 [0.345 0.655]
 [0.271 0.729]
 [0.609 0.391]
 [0.512 0.488]
 [0.988 0.012]
 [0.514 0.486]
 [0.924 0.076]
 [0.849 0.151]
 [0.671 0.329]
 [0.332 0.668]
 [0.309 0.691]
 [0.843 0.157]
 [0.752 0.248]
 [0.339 0.661]
 [0.784 0.216]
 [0.955 0.045]
 [0.33  0.67 ]
 [0.057 0.943]
 [0.819 0.181]
 [0.504 0.496]
 [0.826 0.174]
 [0.68  0.32 ]
 [0.966 0.034]
 [0.454 0.546]
 [0.85  0.15 ]
 [0.252 0.748]
 [0.902 0.098]
 [0.925 0.075]
 [0.946 0.054]
 [0.961 0.039]
 [0.753 0.247]
 [0.338 0.662]
 [0.958 0.042]
 [0.711 0.289]
 [0.835 0.165]
 [0.692 0.308]
 [0.896 0.104]
 [0.571 0.429]
 [0.944 0.056]
 [0.446 0.554]
 [0.399 0.601]
 [0.98  0.02 ]
 [0.613 0.387]
 [0.39  0.61 ]
 [0.741 0.259]
 [0.202 0.798]
 [0.915 0.085]
 [0.468 0.532]
 [0.216 0.784]
 [0.721 0.279]
 [0.893 0.107]
 [0.896 0.104]
 [0.24  0.76 ]
 [0.893 0.107]
 [0.929 0.071]
 [0.81  0.19 ]
 [0.929 0.071]
 [0.326 0.674]
 [0.929 0.071]
 [0.919 0.081]
 [0.163 0.837]
 [0.957 0.043]
 [0.875 0.125]
 [0.225 0.775]
 [0.935 0.065]
 [0.901 0.099]
 [0.723 0.277]
 [0.386 0.614]
 [0.913 0.087]
 [0.927 0.073]
 [0.549 0.451]
 [0.904 0.096]
 [0.938 0.062]
 [0.846 0.154]
 [0.919 0.081]
 [0.558 0.442]
 [0.866 0.134]
 [0.653 0.347]
 [0.855 0.145]
 [0.97  0.03 ]
 [0.127 0.873]
 [0.887 0.113]
 [0.891 0.109]
 [0.834 0.166]
 [0.513 0.487]
 [0.148 0.852]
 [0.895 0.105]
 [0.301 0.699]
 [0.205 0.795]
 [0.774 0.226]
 [0.358 0.642]
 [0.881 0.119]
 [0.644 0.356]
 [0.04  0.96 ]
 [0.775 0.225]
 [0.719 0.281]
 [0.469 0.531]
 [0.927 0.073]
 [0.938 0.062]
 [0.372 0.628]
 [0.386 0.614]
 [0.703 0.297]
 [0.546 0.454]
 [0.398 0.602]
 [0.278 0.722]
 [0.746 0.254]
 [0.967 0.033]
 [0.888 0.112]
 [0.069 0.931]
 [0.375 0.625]
 [0.71  0.29 ]
 [0.325 0.675]
 [0.96  0.04 ]
 [0.915 0.085]
 [0.888 0.112]
 [0.54  0.46 ]
 [0.943 0.057]
 [0.25  0.75 ]
 [0.57  0.43 ]
 [0.727 0.273]
 [0.934 0.066]
 [0.348 0.652]
 [0.898 0.102]
 [0.781 0.219]
 [0.742 0.258]
 [0.326 0.674]
 [0.927 0.073]
 [0.852 0.148]
 [0.764 0.236]
 [0.3   0.7  ]
 [0.376 0.624]
 [0.216 0.784]
 [0.84  0.16 ]
 [0.681 0.319]
 [0.982 0.018]
 [0.256 0.744]
 [0.485 0.515]
 [0.941 0.059]
 [0.615 0.385]
 [0.082 0.918]
 [0.863 0.137]
 [0.969 0.031]
 [0.692 0.308]
 [0.614 0.386]
 [0.685 0.315]
 [0.226 0.774]
 [0.302 0.698]
 [0.844 0.156]
 [0.465 0.535]
 [0.168 0.832]
 [0.909 0.091]
 [0.034 0.966]
 [0.743 0.257]
 [0.896 0.104]
 [0.762 0.238]
 [0.551 0.449]
 [0.945 0.055]
 [0.194 0.806]
 [0.691 0.309]
 [0.072 0.928]
 [0.898 0.102]
 [0.773 0.227]
 [0.926 0.074]
 [0.904 0.096]
 [0.837 0.163]
 [0.568 0.432]
 [0.903 0.097]
 [0.541 0.459]
 [0.938 0.062]
 [0.84  0.16 ]
 [0.627 0.373]
 [0.892 0.108]
 [0.918 0.082]
 [0.728 0.272]
 [0.083 0.917]
 [0.856 0.144]
 [0.171 0.829]
 [0.114 0.886]
 [0.973 0.027]
 [0.767 0.233]
 [0.966 0.034]
 [0.657 0.343]
 [0.85  0.15 ]
 [0.092 0.908]
 [0.572 0.428]
 [0.95  0.05 ]
 [0.799 0.201]
 [0.077 0.923]
 [0.126 0.874]
 [0.217 0.783]
 [0.351 0.649]
 [0.804 0.196]
 [0.209 0.791]
 [0.054 0.946]
 [0.932 0.068]
 [0.921 0.079]
 [0.959 0.041]
 [0.836 0.164]
 [0.889 0.111]
 [0.109 0.891]
 [0.932 0.068]
 [0.929 0.071]
 [0.943 0.057]
 [0.926 0.074]
 [0.927 0.073]
 [0.162 0.838]
 [0.795 0.205]
 [0.752 0.248]
 [0.421 0.579]
 [0.842 0.158]
 [0.661 0.339]
 [0.419 0.581]
 [0.786 0.214]
 [0.095 0.905]
 [0.86  0.14 ]
 [0.322 0.678]
 [0.316 0.684]
 [0.444 0.556]
 [0.838 0.162]
 [0.308 0.692]
 [0.724 0.276]
 [0.752 0.248]
 [0.852 0.148]
 [0.545 0.455]
 [0.453 0.547]
 [0.911 0.089]
 [0.947 0.053]
 [0.43  0.57 ]
 [0.84  0.16 ]
 [0.168 0.832]
 [0.714 0.286]
 [0.818 0.182]
 [0.449 0.551]
 [0.853 0.147]
 [0.593 0.407]
 [0.971 0.029]
 [0.429 0.571]
 [0.116 0.884]
 [0.661 0.339]
 [0.799 0.201]
 [0.913 0.087]
 [0.075 0.925]
 [0.594 0.406]
 [0.917 0.083]
 [0.681 0.319]
 [0.766 0.234]
 [0.862 0.138]
 [0.695 0.305]
 [0.948 0.052]
 [0.929 0.071]
 [0.769 0.231]
 [0.024 0.976]
 [0.943 0.057]
 [0.685 0.315]
 [0.556 0.444]
 [0.521 0.479]
 [0.694 0.306]
 [0.544 0.456]
 [0.944 0.056]
 [0.838 0.162]
 [0.045 0.955]
 [0.149 0.851]
 [0.221 0.779]
 [0.89  0.11 ]
 [0.893 0.107]
 [0.674 0.326]
 [0.503 0.497]
 [0.438 0.562]
 [0.68  0.32 ]
 [0.698 0.302]
 [0.494 0.506]
 [0.776 0.224]
 [0.934 0.066]
 [0.341 0.659]
 [0.917 0.083]
 [0.741 0.259]
 [0.839 0.161]
 [0.442 0.558]
 [0.964 0.036]
 [0.961 0.039]
 [0.929 0.071]
 [0.959 0.041]
 [0.102 0.898]
 [0.511 0.489]
 [0.4   0.6  ]
 [0.396 0.604]
 [0.771 0.229]
 [0.484 0.516]
 [0.954 0.046]
 [0.865 0.135]
 [0.952 0.048]
 [0.539 0.461]
 [0.858 0.142]
 [0.71  0.29 ]
 [0.823 0.177]
 [0.341 0.659]
 [0.907 0.093]
 [0.412 0.588]
 [0.127 0.873]
 [0.854 0.146]
 [0.643 0.357]
 [0.939 0.061]
 [0.932 0.068]
 [0.904 0.096]
 [0.889 0.111]
 [0.946 0.054]
 [0.959 0.041]
 [0.946 0.054]
 [0.811 0.189]
 [0.753 0.247]
 [0.612 0.388]
 [0.811 0.189]
 [0.698 0.302]
 [0.756 0.244]
 [0.366 0.634]
 [0.113 0.887]
 [0.918 0.082]
 [0.36  0.64 ]
 [0.444 0.556]
 [0.919 0.081]
 [0.527 0.473]
 [0.92  0.08 ]
 [0.056 0.944]
 [0.729 0.271]
 [0.464 0.536]
 [0.943 0.057]
 [0.528 0.472]
 [0.928 0.072]
 [0.495 0.505]
 [0.648 0.352]
 [0.631 0.369]
 [0.844 0.156]
 [0.045 0.955]
 [0.821 0.179]
 [0.893 0.107]
 [0.954 0.046]
 [0.943 0.057]
 [0.405 0.595]
 [0.606 0.394]
 [0.934 0.066]
 [0.739 0.261]
 [0.905 0.095]
 [0.847 0.153]
 [0.175 0.825]
 [0.975 0.025]
 [0.046 0.954]
 [0.154 0.846]
 [0.941 0.059]
 [0.394 0.606]
 [0.604 0.396]
 [0.878 0.122]
 [0.681 0.319]
 [0.83  0.17 ]
 [0.334 0.666]
 [0.946 0.054]
 [0.747 0.253]
 [0.667 0.333]
 [0.581 0.419]
 [0.199 0.801]
 [0.048 0.952]
 [0.233 0.767]
 [0.27  0.73 ]
 [0.847 0.153]
 [0.398 0.602]
 [0.482 0.518]
 [0.917 0.083]
 [0.894 0.106]
 [0.136 0.864]
 [0.906 0.094]
 [0.829 0.171]
 [0.605 0.395]
 [0.346 0.654]
 [0.057 0.943]
 [0.158 0.842]
 [0.734 0.266]
 [0.902 0.098]
 [0.601 0.399]
 [0.236 0.764]
 [0.231 0.769]
 [0.92  0.08 ]
 [0.92  0.08 ]]

In [35]:
def score_model(probs, threshold):
    return np.array([1 if x > threshold else 0 for x in probs[:,1]])
scores = score_model(probabilities, 0.5)
print(scores.size)
print(np.array(scores[:]))

500
[0 1 0 0 0 0 1 1 1 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 1 1 0 1 0 0 0 1 1 1
 0 0 0 0 0 0 0 0 0 0 1 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 1 1 1 0 1 1 0 0 0
 0 1 1 1 0 0 1 0 0 1 0 0 0 1 1 0 0 1 0 0 0 1 0 0 0 0 1 0 0 1 0 0 0 0 0 0 1
 0 0 0 0 1 0 0 0 1 1 0 0 0 0 0 0 0 1 1 0 0 1 0 0 1 1 0 0 0 0 0 1 0 1 0 0 0
 0 0 1 0 0 0 0 0 0 0 1 1 0 0 1 0 1 0 1 1 0 0 0 1 0 0 0 0 1 0 0 1 0 0 1 0 0
 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 0 1 1 0 1 0 0 1 0 0 1 0 0 1 1 0 0
 1 1 0 0 0 1 1 0 1 0 0 0 0 0 1 0 0 0 1 0 0 0 1 0 0 0 1 1 1 0 0 0 1 1 0 0 1
 0 0 0 0 0 1 1 0 1 1 0 1 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1
 1 0 0 0 0 0 1 0 0 0 1 1 1 1 0 1 1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 1 0 0 1 0 1
 0 1 1 1 0 1 0 0 0 0 1 0 0 1 0 1 0 0 1 0 0 0 1 1 0 0 0 1 0 0 0 0 0 0 0 0 0
 1 0 0 0 0 0 0 0 0 1 1 1 0 0 0 0 1 0 0 1 0 0 1 0 0 0 1 0 0 0 0 1 0 1 1 0 1
 0 0 0 0 0 0 0 1 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 1 1 0 0 0 1 0 1
 0 0 0 1 0 0 0 1 0 0 0 0 1 0 0 0 0 0 1 0 1 1 0 1 0 0 0 0 1 0 0 0 0 1 1 1 1
 0 1 1 0 0 1 0 0 0 1 1 1 0 0 0 1 1 0 0]

In [36]:
df = pd.DataFrame(scores)
df.head()

   0
0  0
1  1
2  0
3  0
4  0

In [37]:
df.to_csv('aw_test_prediction.csv')