In [3]:
import pandas as pd
import functools
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import numpy.random as nr
import math
from sklearn import preprocessing
import sklearn.model_selection as ms
from sklearn import linear_model
import sklearn.metrics as sklm

%matplotlib inline

In [4]:
works_custs = pd.read_csv('AdvWorksCusts.csv')
print(works_custs.shape)
print(works_custs.CustomerID.unique().shape)
bike_buyer = pd.read_csv('AW_BikeBuyer.csv')
print(bike_buyer.shape)
print(bike_buyer.CustomerID.unique().shape)
avemonth_spend = pd.read_csv('AW_AveMonthSpend.csv')
print(avemonth_spend.shape)
print(avemonth_spend.CustomerID.unique().shape)

(16519, 23)
(16404,)
(16519, 2)
(16404,)
(16519, 2)
(16404,)

In [5]:
(works_custs.astype(np.object) == 'NaN').any()

CustomerID              False
Title                   False
FirstName               False
MiddleName              False
LastName                False
Suffix                  False
AddressLine1            False
AddressLine2            False
City                    False
StateProvinceName       False
CountryRegionName       False
PostalCode              False
PhoneNumber             False
BirthDate               False
Education               False
Occupation              False
Gender                  False
MaritalStatus           False
HomeOwnerFlag           False
NumberCarsOwned         False
NumberChildrenAtHome    False
TotalChildren           False
YearlyIncome            False
dtype: bool

In [231]:
bike_buyer = pd.read_csv('AW_BikeBuyer.csv')
bike_buyer.drop_duplicates(subset = 'CustomerID', keep = 'last', inplace = True)
print(bike_buyer.columns)

Index(['CustomerID', 'BikeBuyer'], dtype='object')

In [6]:
works_custs.drop_duplicates(subset = 'CustomerID', keep = 'last', inplace = True)
bike_buyer.drop_duplicates(subset = 'CustomerID', keep = 'last', inplace = True)
avemonth_spend.drop_duplicates(subset = 'CustomerID', keep = 'last', inplace = True)
print(works_custs.shape)
print(bike_buyer.shape)
print(avemonth_spend.shape)

(16404, 23)
(16404, 2)
(16404, 2)

In [7]:
works_custs_bike_buyer = pd.merge(works_custs,bike_buyer, on='CustomerID')
merged_df = pd.merge(works_custs_bike_buyer,avemonth_spend, on='CustomerID')
merged_df.head(50)

,CustomerID,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,...,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,BikeBuyer,AveMonthSpend
0,11000,NaN,Jon,V,Yang,NaN,3761 N. 14th St,NaN,Rockhampton,Queensland,...,Professional,M,M,1,0,0,2,137947,0,89
1,11001,NaN,Eugene,L,Huang,NaN,2243 W St.,NaN,Seaford,Victoria,...,Professional,M,S,0,1,3,3,101141,1,117
2,11002,NaN,Ruben,NaN,Torres,NaN,5844 Linden Land,NaN,Hobart,Tasmania,...,Professional,M,M,1,1,3,3,91945,0,123
3,11003,NaN,Christy,NaN,Zhu,NaN,1825 Village Pl.,NaN,North Ryde,New South Wales,...,Professional,F,S,0,1,0,0,86688,0,50
4,11004,NaN,Elizabeth,NaN,Johnson,NaN,7553 Harness Circle,NaN,Wollongong,New South Wales,...,Professional,F,S,1,4,5,5,92771,1,95
5,11005,NaN,Julio,NaN,Ruiz,NaN,7305 Humphrey Drive,NaN,East Brisbane,Queensland,...,Professional,M,S,1,1,0,0,103199,1,78
6,11006,NaN,Janet,G,Alvarez,NaN,2612 Berry Dr,NaN,Matraville,New South Wales,...,Professional,F,S,1,1,0,0,84756,1,54
7,11007,NaN,Marco,NaN,Mehta,NaN,942 Brook Street,NaN,Warrnambool,Victoria,...,Professional,M,M,1,2,3,3,109759,1,130
8,11008,NaN,Rob,NaN,Verhoff,NaN,624 Peabody Road,NaN,Bendigo,Victoria,...,Professional,F,S,1,3,4,4,88005,1,85
9,11009,NaN,Shannon,C,Carlson,NaN,3839 Northgate Road,NaN,Hervey Bay,Queensland,...,Professional,M,S,0,1,0,0,106399,0,74
10,11010,NaN,Jacquelyn,C,Suarez,NaN,7800 Corrinne Court,NaN,East Brisbane,Queensland,...,Professional,F,S,0,1,0,0,81294,0,49
11,11011,NaN,Curtis,NaN,Lu,NaN,1224 Shoenic,NaN,East Brisbane,Queensland,...,Professional,M,M,1,4,4,4,94029,1,146
12,11012,NaN,Lauren,M,Walker,NaN,4785 Scott Street,NaN,Bremerton,Washington,...,Management,F,M,1,2,0,2,99245,1,55
13,11013,NaN,Ian,M,Jenkins,NaN,7902 Hudson Ave.,NaN,Lebanon,Oregon,...,Management,M,M,1,3,0,2,115859,0,84
14,11014,NaN,Sydney,NaN,Bennett,NaN,9011 Tank Drive,NaN,Redmond,Washington,...,Management,F,S,0,3,0,3,105157,0,49
15,11015,NaN,Chloe,NaN,Young,NaN,244 Willow Pass Road,NaN,Burbank,California,...,Skilled Manual,F,S,0,1,0,0,40011,0,39
16,11016,NaN,Wyatt,L,Hill,NaN,9666 Northridge Ct.,NaN,Imperial Beach,California,...,Skilled Manual,M,M,1,1,0,0,46808,0,68
17,11019,NaN,Luke,L,Lal,NaN,7832 Landing Dr,NaN,Langley,British Columbia,...,Skilled Manual,M,S,0,2,0,0,49455,1,64
18,11020,NaN,Jordan,C,King,NaN,7156 Rose Dr.,NaN,Metchosin,British Columbia,...,Skilled Manual,M,S,0,2,0,0,43857,0,64
19,11023,NaN,Seth,M,Edwards,NaN,4499 Valley Crest,NaN,Bellflower,California,...,Skilled Manual,M,M,1,1,0,0,50046,0,71
20,11024,NaN,Russell,NaN,Xie,NaN,8734 Oxford Place,NaN,Concord,California,...,Skilled Manual,M,M,1,2,0,0,91276,0,77
21,11025,NaN,Alejandro,NaN,Beck,NaN,2596 Franklin Canyon Road,NaN,Hawthorne,Queensland,...,Clerical,M,M,1,2,1,2,24334,0,70
22,11026,NaN,Harold,NaN,Sai,NaN,8211 Leeds Ct.,NaN,Goulburn,New South Wales,...,Clerical,M,S,0,2,0,2,61905,0,63
23,11027,NaN,Jessie,R,Zhao,NaN,213 Valencia Place,NaN,Warrnambool,Victoria,...,Clerical,M,M,1,2,0,2,49349,0,76
24,11028,NaN,Jill,NaN,Jimenez,NaN,9111 Rose Ann Ave,NaN,St. Leonards,New South Wales,...,Clerical,F,M,1,2,0,2,44068,0,43
25,11031,NaN,Theresa,G,Ramos,NaN,6465 Detroit Ave.,NaN,Matraville,New South Wales,...,Skilled Manual,F,M,1,2,0,4,18843,0,43
26,11032,NaN,Denise,NaN,Stone,NaN,626 Bentley Street,NaN,Melbourne,Victoria,...,Skilled Manual,F,M,1,2,0,4,15861,0,42
27,11033,NaN,Jaime,NaN,Nath,NaN,5927 Rainbow Dr,NaN,Milsons Point,New South Wales,...,Skilled Manual,M,M,1,2,0,4,35822,0,58
28,11034,NaN,Ebony,NaN,Gonzalez,NaN,5167 Condor Place,NaN,North Sydney,New South Wales,...,Skilled Manual,F,M,1,2,0,4,29017,0,39
29,11035,NaN,Wendy,NaN,Dominguez,NaN,1873 Mt. Whitney Dr,NaN,Cranbourne,Victoria,...,Clerical,F,M,1,2,1,2,11721,0,50
30,11036,NaN,Jennifer,C,Russell,NaN,3981 Augustine Drive,NaN,National City,California,...,Skilled Manual,F,M,1,2,0,0,84890,0,52
31,11037,NaN,Chloe,M,Garcia,NaN,8915 Woodside Way,NaN,Cliffside,British Columbia,...,Clerical,F,S,0,2,0,0,48651,0,46
32,11040,NaN,Jesse,NaN,Murphy,NaN,3350 Kingswood Circle,NaN,Tacoma,Washington,...,Skilled Manual,M,M,1,2,0,0,56248,0,65
33,11042,NaN,Megan,J,Sanchez,NaN,1397 Paraiso Ct.,NaN,Los Angeles,California,...,Skilled Manual,F,M,1,2,0,0,70623,0,55
34,11043,NaN,Nathan,M,Simmons,NaN,1170 Shaw Rd,NaN,Glendale,California,...,Skilled Manual,M,M,1,2,0,0,78150,0,77
35,11044,NaN,Adam,L,Flores,NaN,6935 Candle Dr,NaN,Hervey Bay,Queensland,...,Clerical,M,M,1,2,1,2,24007,0,76
36,11045,NaN,Leonard,G,Nara,NaN,7466 La Vista Ave.,NaN,Matraville,New South Wales,...,Skilled Manual,M,S,0,2,0,3,51472,0,63
37,11046,NaN,Christine,NaN,Yuan,NaN,2356 Orange St,NaN,Lavender Bay,New South Wales,...,Skilled Manual,F,M,1,2,0,3,50798,0,48
38,11047,NaN,Jaclyn,D,Lu,NaN,2812 Mazatlan,NaN,Geelong,Victoria,...,Skilled Manual,F,M,0,2,0,3,42738,0,43
39,11049,NaN,Carol,C,Rai,NaN,6064 Madrid,NaN,Chula Vista,California,...,Clerical,F,S,1,2,0,0,48422,1,41
40,11050,NaN,Alan,NaN,Zheng,NaN,2741 Gainborough Dr.,NaN,Hobart,Tasmania,...,Skilled Manual,M,M,1,2,0,3,58585,0,73
41,11051,NaN,Daniel,NaN,Johnson,NaN,8085 Sunnyvale Avenue,NaN,Caloundra,Queensland,...,Skilled Manual,M,S,0,2,0,3,45982,0,64
42,11052,NaN,Heidi,NaN,Lopez,NaN,2514 Via Cordona,NaN,Matraville,New South Wales,...,Clerical,F,S,0,2,0,2,50790,0,49
43,11053,NaN,Ana,E,Price,NaN,1660 Stonyhill Circle,NaN,San Diego,California,...,Skilled Manual,F,M,0,2,0,0,91599,0,51
44,11054,NaN,Deanna,NaN,Munoz,NaN,5825 B Way,NaN,Geelong,Victoria,...,Skilled Manual,F,M,1,2,0,2,50018,0,43
45,11055,NaN,Gilbert,NaN,Raje,NaN,8811 The Trees Dr.,NaN,East Brisbane,Queensland,...,Skilled Manual,M,M,1,2,0,2,53459,0,75
46,11056,NaN,Michele,L,Nath,NaN,5464 Janin Pl.,NaN,Newcastle,New South Wales,...,Skilled Manual,F,M,1,2,0,3,38588,0,46
47,11057,NaN,Carl,J,Andersen,NaN,6930 Lake Nadine Place,NaN,Lane Cove,New South Wales,...,Management,M,M,1,2,0,2,119540,0,82
48,11058,NaN,Marc,NaN,Diaz,NaN,6645 Sinaloa,NaN,Findon,South Australia,...,Skilled Manual,M,M,1,2,0,2,119982,0,87
49,11059,NaN,Ashlee,J,Andersen,NaN,8255 Highland Road,NaN,Townsville,Queensland,...,Skilled Manual,F,S,1,2,0,2,86953,0,45

In [8]:
#help(pd.merge)
merged_df.dtypes

CustomerID               int64
Title                   object
FirstName               object
MiddleName              object
LastName                object
Suffix                  object
AddressLine1            object
AddressLine2            object
City                    object
StateProvinceName       object
CountryRegionName       object
PostalCode              object
PhoneNumber             object
BirthDate               object
Education               object
Occupation              object
Gender                  object
MaritalStatus           object
HomeOwnerFlag            int64
NumberCarsOwned          int64
NumberChildrenAtHome     int64
TotalChildren            int64
YearlyIncome             int64
BikeBuyer                int64
AveMonthSpend            int64
dtype: object

In [9]:
labels = np.array(merged_df['BikeBuyer'])
labels.size

16404

In [10]:
def encode_string(cat_features):
    ## First encode the strings to numeric categories
    enc = preprocessing.LabelEncoder()
    enc.fit(cat_features)
    enc_cat_features = enc.transform(cat_features)
    ## Now, apply one hot encoding
    ohe = preprocessing.OneHotEncoder()
    encoded = ohe.fit(enc_cat_features.reshape(-1,1))
    return encoded.transform(enc_cat_features.reshape(-1,1)).toarray()

categorical_columns = ['Education', 'Occupation', 'Gender', 'MaritalStatus']

Features = encode_string(merged_df['BikeBuyer'])
for col in categorical_columns:
    temp = encode_string(merged_df[col])
    Features = np.concatenate([Features, temp], axis = 1)

print(Features.shape)
print(Features[:2, :])

(16404, 16)
[[1. 0. 1. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 1. 1. 0.]
 [0. 1. 1. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 1. 0. 1.]]

/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

In [11]:
#Features = np.concatenate([Features, np.array(aw_test_bikebuyer[['HomeOwnerFlag', 'NumberCarsOwned', 
#                            'NumberChildrenAtHome', 'YearlyIncome']])], axis = 1)
Features = np.concatenate([Features, np.array(merged_df[['NumberChildrenAtHome', 'YearlyIncome']])], axis = 1)
print(Features.shape)
print(Features[:2, :])

(16404, 18)
[[1.00000e+00 0.00000e+00 1.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00
  0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 1.00000e+00 0.00000e+00
  0.00000e+00 1.00000e+00 1.00000e+00 0.00000e+00 0.00000e+00 1.37947e+05]
 [0.00000e+00 1.00000e+00 1.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00
  0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 1.00000e+00 0.00000e+00
  0.00000e+00 1.00000e+00 0.00000e+00 1.00000e+00 3.00000e+00 1.01141e+05]]

In [12]:
## Randomly sample cases to create independent training and test data
nr.seed(9988)
indx = range(Features.shape[0])
indx = ms.train_test_split(indx, test_size = 500) #need to have shuffle=False in here for correct answer
X_train = Features[indx[0],:]
y_train = np.ravel(labels[indx[0]])
#X_test = Features[indx[1],:]
#y_test = np.ravel(labels[indx[1]])

In [13]:
scaler = preprocessing.StandardScaler().fit(X_train[:,17:])
X_train[:,17:] = scaler.transform(X_train[:,17:])
#X_test[:,17:] = scaler.transform(X_test[:,17:])
X_train[:2,]

array([[ 1.        ,  0.        ,  1.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  1.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  1.        ,  0.        ,
         1.        ,  0.        , -0.52751147],
       [ 1.        ,  0.        ,  0.        ,  1.        ,  0.        ,
         0.        ,  0.        ,  1.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  1.        ,  0.        ,  1.        ,
         0.        ,  0.        , -0.44654991]])

In [14]:
#logistic_mod = linear_model.LogisticRegression() 
#logistic_mod.fit(X_train, y_train)

In [15]:
#print(logistic_mod.intercept_)
#print(logistic_mod.coef_)

In [16]:
#probabilities = logistic_mod.predict_proba(Features)
#print(probabilities[:15,:])

In [17]:
#def score_model(probs, threshold):
#    return np.array([1 if x > threshold else 0 for x in probs[:,1]])
#scores = score_model(probabilities, 0.5)
#print(np.array(scores[:500]))

In [18]:
# Start the test data prediction
aw_test = pd.read_csv('aw_test.csv')
aw_test.drop_duplicates(subset = 'CustomerID', keep = 'last', inplace = True)
print(aw_test.columns)

Index(['CustomerID', 'Title', 'FirstName', 'MiddleName', 'LastName', 'Suffix',
       'AddressLine1', 'AddressLine2', 'City', 'StateProvinceName',
       'CountryRegionName', 'PostalCode', 'PhoneNumber', 'BirthDate',
       'Education', 'Occupation', 'Gender', 'MaritalStatus', 'HomeOwnerFlag',
       'NumberCarsOwned', 'NumberChildrenAtHome', 'TotalChildren',
       'YearlyIncome'],
      dtype='object')

In [19]:
labelsT = np.array(aw_test['Occupation'])
lavelsT.size()

NameError: name 'lavelsT' is not defined

In [20]:
def encode_string(cat_features):
    ## First encode the strings to numeric categories
    enc = preprocessing.LabelEncoder()
    enc.fit(cat_features)
    enc_cat_features = enc.transform(cat_features)
    ## Now, apply one hot encoding
    ohe = preprocessing.OneHotEncoder()
    encoded = ohe.fit(enc_cat_features.reshape(-1,1))
    return encoded.transform(enc_cat_features.reshape(-1,1)).toarray()

categorical_columns = ['Education', 'Gender', 'MaritalStatus']

FeaturesT = encode_string(aw_test['Occupation'])
for col in categorical_columns:
    tempT = encode_string(aw_test[col])
    FeaturesT = np.concatenate([FeaturesT, tempT], axis = 1)

print(FeaturesT.shape)
print(FeaturesT[:2, :])

(500, 14)
[[0. 1. 0. 0. 0. 1. 0. 0. 0. 0. 1. 0. 0. 1.]
 [0. 0. 0. 0. 1. 1. 0. 0. 0. 0. 0. 1. 1. 0.]]

/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

In [21]:
FeaturesT = np.concatenate([FeaturesT, np.array(aw_test[['HomeOwnerFlag', 'NumberCarsOwned', 'NumberChildrenAtHome', 'YearlyIncome']])], axis = 1)
#FeaturesT = np.concatenate([Features, np.array(aw_test[['HomeOwnerFlag', 'NumberCarsOwned', 'NumberChildrenAtHome', 'YearlyIncome']])], axis = 1)
print(FeaturesT.shape)
print(FeaturesT[:2, :])

(500, 18)
[[0.00000e+00 1.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 1.00000e+00
  0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 1.00000e+00 0.00000e+00
  0.00000e+00 1.00000e+00 0.00000e+00 2.00000e+00 0.00000e+00 8.69310e+04]
 [0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 1.00000e+00 1.00000e+00
  0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 1.00000e+00
  1.00000e+00 0.00000e+00 1.00000e+00 2.00000e+00 2.00000e+00 1.00125e+05]]

In [22]:
## Randomly sample cases to create independent training and test data
nr.seed(9988)
indx = range(FeaturesT.shape[0])
indx = ms.train_test_split(indx, test_size = 499, shuffle=False) #need to have shuffle=False in here for correct answer
#X_train = FeaturesT[indx[0],:]
#y_train = np.ravel(labelsT[indx[0]])
X_test = FeaturesT[indx[1],:]
y_test = np.ravel(labelsT[indx[1]])

In [23]:
scaler = preprocessing.StandardScaler().fit(X_train[:,17:])
#X_train[:,16:] = scaler.transform(X_train[:,16:])
X_test[:,17:] = scaler.transform(X_test[:,17:])
#X_train[:2,]

In [24]:
logistic_mod = linear_model.LogisticRegression() 
logistic_mod.fit(X_train, y_train)

/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [25]:
print(logistic_mod.intercept_)
print(logistic_mod.coef_)

[-0.26951155]
[[-6.90673334  6.63722179  0.07264017  0.01513166 -0.12311974 -0.05429136
  -0.17987228 -0.04919292 -0.29294805  0.01524023  0.01081282  0.04657636
  -0.27822726  0.00871571 -0.48253394  0.21302239  0.34348087  0.21826408]]

In [26]:
print(FeaturesT)

[[0.00000e+00 1.00000e+00 0.00000e+00 ... 2.00000e+00 0.00000e+00
  8.69310e+04]
 [0.00000e+00 0.00000e+00 0.00000e+00 ... 2.00000e+00 2.00000e+00
  1.00125e+05]
 [0.00000e+00 1.00000e+00 0.00000e+00 ... 2.00000e+00 0.00000e+00
  1.03985e+05]
 ...
 [0.00000e+00 1.00000e+00 0.00000e+00 ... 4.00000e+00 3.00000e+00
  1.38097e+05]
 [0.00000e+00 0.00000e+00 0.00000e+00 ... 1.00000e+00 0.00000e+00
  1.01465e+05]
 [0.00000e+00 0.00000e+00 0.00000e+00 ... 2.00000e+00 0.00000e+00
  1.91080e+04]]

In [35]:
probabilities = logistic_mod.predict_proba(X_test)
print(probabilities[:15,:])

[[0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]]

In [36]:
def score_model(probs, threshold):
    return np.array([1 if x > threshold else 0 for x in probs[:,1]])
scores = score_model(probabilities, 0.5)
print(np.array(scores[:500]))

[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1]

In [31]:
df = pd.DataFrame(FeaturesT)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,2.0,0.0,86931.0
1,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,2.0,2.0,100125.0
2,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,2.0,0.0,103985.0
3,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,127161.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,2.0,21876.0

In [32]:
df.to_csv('aw_test_prediction2.csv')