In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
bike_buyer = pd.read_csv('AW_BikeBuyer.csv')

In [3]:
def clean_bike_buyer_data(bike_buyer):
    'Function to load the bike_buyer data set from a .csv file' 
    import pandas as pd
    import numpy as np
    
    ## Recode names
    ## fix column names so the '-' character becomes '_'
    cols = bike_buyer.columns
    bike_buyer.columns = [str.replace('-', '_') for str in cols]
    
    ## Treat missing values
    ## Remove rows with missing values, accounting for mising values coded as '?'
    ## cols = ['CustomerID', 'AveMonthSpend']
    ## for column in cols:
    ##     aveMonthSpend.loc[aveMonthSpend[column] == '?', column] = np.nan
    ## aveMonthSpend.dropna(axis = 0, inplace = True)

    ## Transform column data type
    ## Convert some columns to numeric values
    for column in cols:
        bike_buyer[column] = pd.to_numeric(bike_buyer[column])

    return bike_buyer
bike_buyer = clean_bike_buyer_data(bike_buyer)

print(bike_buyer.columns)

Index(['CustomerID', 'BikeBuyer'], dtype='object')

In [5]:
bike_buyer.describe()

         CustomerID     BikeBuyer
count  16519.000000  16519.000000
mean   20234.225195      0.332284
std     5342.515987      0.471046
min    11000.000000      0.000000
25%    15604.500000      0.000000
50%    20221.000000      0.000000
75%    24860.500000      1.000000
max    29482.000000      1.000000