In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
aveMonthSpend= pd.read_csv('AW_AveMonthSpend.csv')

In [5]:
def clean_month_spend_data(aveMonthSpend):
    'Function to load the aveMonthSpend data set from a .csv file' 
    import pandas as pd
    import numpy as np
    
    ## Recode names
    ## fix column names so the '-' character becomes '_'
    cols = aveMonthSpend.columns
    aveMonthSpend.columns = [str.replace('-', '_') for str in cols]
    
    ## Treat missing values
    ## Remove rows with missing values, accounting for mising values coded as '?'
    ## cols = ['CustomerID', 'AveMonthSpend']
    ## for column in cols:
    ##     aveMonthSpend.loc[aveMonthSpend[column] == '?', column] = np.nan
    ## aveMonthSpend.dropna(axis = 0, inplace = True)

    ## Transform column data type
    ## Convert some columns to numeric values
    for column in cols:
        aveMonthSpend[column] = pd.to_numeric(aveMonthSpend[column])

    return aveMonthSpend
aveMonthSpend = clean_month_spend_data(aveMonthSpend)

print(aveMonthSpend.columns)

Index(['CustomerID', 'AveMonthSpend'], dtype='object')

In [6]:
aveMonthSpend.head()

   CustomerID  AveMonthSpend
0       11000             89
1       11001            117
2       11002            123
3       11003             50
4       11004             95

In [7]:
aveMonthSpend.dtypes

CustomerID       int64
AveMonthSpend    int64
dtype: object

In [8]:
aveMonthSpend.describe()

         CustomerID  AveMonthSpend
count  16519.000000   16519.000000
mean   20234.225195      72.405957
std     5342.515987      27.285370
min    11000.000000      22.000000
25%    15604.500000      52.000000
50%    20221.000000      68.000000
75%    24860.500000      84.000000
max    29482.000000     176.000000