In [3]:
import pandas as pd
import functools
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

works_custs = pd.read_csv('AdvWorksCusts.csv')
avemonth_spend= pd.read_csv('AW_AveMonthSpend.csv')
bike_buyer = pd.read_csv('AW_BikeBuyer.csv')

print(works_custs.columns)
print(avemonth_spend.columns)
print(bike_buyer.columns)

Index(['CustomerID', 'Title', 'FirstName', 'MiddleName', 'LastName', 'Suffix',
       'AddressLine1', 'AddressLine2', 'City', 'StateProvinceName',
       'CountryRegionName', 'PostalCode', 'PhoneNumber', 'BirthDate',
       'Education', 'Occupation', 'Gender', 'MaritalStatus', 'HomeOwnerFlag',
       'NumberCarsOwned', 'NumberChildrenAtHome', 'TotalChildren',
       'YearlyIncome'],
      dtype='object')
Index(['CustomerID', 'AveMonthSpend'], dtype='object')
Index(['CustomerID', 'BikeBuyer'], dtype='object')

In [4]:
works_custs.head()

,CustomerID,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,...,BirthDate,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome
0,11000,NaN,Jon,V,Yang,NaN,3761 N. 14th St,NaN,Rockhampton,Queensland,...,4/8/66,Bachelors,Professional,M,M,1,0,0,2,137947
1,11001,NaN,Eugene,L,Huang,NaN,2243 W St.,NaN,Seaford,Victoria,...,5/14/65,Bachelors,Professional,M,S,0,1,3,3,101141
2,11002,NaN,Ruben,NaN,Torres,NaN,5844 Linden Land,NaN,Hobart,Tasmania,...,8/12/65,Bachelors,Professional,M,M,1,1,3,3,91945
3,11003,NaN,Christy,NaN,Zhu,NaN,1825 Village Pl.,NaN,North Ryde,New South Wales,...,2/15/68,Bachelors,Professional,F,S,0,1,0,0,86688
4,11004,NaN,Elizabeth,NaN,Johnson,NaN,7553 Harness Circle,NaN,Wollongong,New South Wales,...,8/8/68,Bachelors,Professional,F,S,1,4,5,5,92771

In [5]:
avemonth_spend.head()

   CustomerID  AveMonthSpend
0       11000             89
1       11001            117
2       11002            123
3       11003             50
4       11004             95

In [6]:
bike_buyer.head()

   CustomerID  BikeBuyer
0       11000          0
1       11001          1
2       11002          0
3       11003          0
4       11004          1

In [7]:
dfs = [works_custs, avemonth_spend, bike_buyer]
nan_value = 0

k = np.arange(len(dfs)).astype(str)
merged_df = pd.concat([x.set_index('CustomerID') for x in dfs], axis=1, join='inner', keys=k)
#merged_df.columns = merged_df.columns.map('_'.join)
print(merged_df.columns)
print(merged_df)

MultiIndex(levels=[['0', '1', '2'], ['AddressLine1', 'AddressLine2', 'AveMonthSpend', 'BikeBuyer', 'BirthDate', 'City', 'CountryRegionName', 'Education', 'FirstName', 'Gender', 'HomeOwnerFlag', 'LastName', 'MaritalStatus', 'MiddleName', 'NumberCarsOwned', 'NumberChildrenAtHome', 'Occupation', 'PhoneNumber', 'PostalCode', 'StateProvinceName', 'Suffix', 'Title', 'TotalChildren', 'YearlyIncome']],
           labels=[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 2], [21, 8, 13, 11, 20, 0, 1, 5, 19, 6, 18, 17, 4, 7, 16, 9, 12, 10, 14, 15, 22, 23, 2, 3]])
               0                                            \
           Title   FirstName MiddleName    LastName Suffix
CustomerID
11000        NaN         Jon          V        Yang    NaN
11001        NaN      Eugene          L       Huang    NaN
11002        NaN       Ruben        NaN      Torres    NaN
11003        NaN     Christy        NaN         Zhu    NaN
11004        NaN   Elizabeth        NaN     Johnson    NaN
11005        NaN       Julio        NaN        Ruiz    NaN
11006        NaN       Janet          G     Alvarez    NaN
11007        NaN       Marco        NaN       Mehta    NaN
11008        NaN         Rob        NaN     Verhoff    NaN
11009        NaN     Shannon          C     Carlson    NaN
11010        NaN   Jacquelyn          C      Suarez    NaN
11011        NaN      Curtis        NaN          Lu    NaN
11012        NaN      Lauren          M      Walker    NaN
11013        NaN         Ian          M     Jenkins    NaN
11014        NaN      Sydney        NaN     Bennett    NaN
11015        NaN       Chloe        NaN       Young    NaN
11016        NaN       Wyatt          L        Hill    NaN
11019        NaN        Luke          L         Lal    NaN
11020        NaN      Jordan          C        King    NaN
11023        NaN        Seth          M     Edwards    NaN
11024        NaN     Russell        NaN         Xie    NaN
11025        NaN   Alejandro        NaN        Beck    NaN
11026        NaN      Harold        NaN         Sai    NaN
11027        NaN      Jessie          R        Zhao    NaN
11028        NaN        Jill        NaN     Jimenez    NaN
11031        NaN     Theresa          G       Ramos    NaN
11032        NaN      Denise        NaN       Stone    NaN
11033        NaN       Jaime        NaN        Nath    NaN
11034        NaN       Ebony        NaN    Gonzalez    NaN
11035        NaN       Wendy        NaN   Dominguez    NaN
...          ...         ...        ...         ...    ...
29464        NaN      Eugene        NaN         Gao    NaN
29465        NaN         Roy        NaN        Gill    NaN
29466        NaN       Lance        NaN     Jimenez    NaN
29467        NaN      Monica          J       Mehta    NaN
29468        NaN  Jacqueline          H      Morris    NaN
29469        NaN   Dominique          M    Saunders    NaN
29470        NaN      Nathan        NaN     Roberts    NaN
29471        NaN        Dana        NaN      Ortega    NaN
29472        NaN       Lacey          M      Sharma    NaN
29473        NaN      Carmen          J      Subram    NaN
29474        NaN       Jaime          B        Raje    NaN
29475        NaN       Jared          A        Ward    NaN
29476        NaN   Elizabeth        NaN     Bradley    NaN
29477        NaN        Neil          N        Ruiz    NaN
29478        NaN      Darren          D     Carlson    NaN
29479        NaN       Tommy          L        Tang    NaN
29480        NaN        Nina          W        Raji    NaN
29481        NaN        Ivan        NaN        Suri    NaN
29482        NaN     Clayton        NaN       Zhang    NaN
25352        NaN     Brandon          S    Martinez    NaN
13139        NaN      Carmen          C       Perez    NaN
18651        NaN      Isaiah          A    Mitchell    NaN
24992        NaN       Faith          L      Bryant    NaN
11442        NaN      Joseph          D      Harris    NaN
18487        NaN       Tasha          J        Nath    NaN
13121        NaN     Latasha          E     Jimenez    NaN
26100        NaN       James     Garner  Ptaszynski    NaN
11328        NaN      Julian          M     Griffin    NaN
23077        NaN      Marvin          A   Hernandez    NaN
18982        NaN        Kyle        NaN       Baker    NaN

                                                                          \
                           AddressLine1 AddressLine2                City
CustomerID
11000                   3761 N. 14th St          NaN         Rockhampton
11001                        2243 W St.          NaN             Seaford
11002                  5844 Linden Land          NaN              Hobart
11003                  1825 Village Pl.          NaN          North Ryde
11004               7553 Harness Circle          NaN          Wollongong
11005               7305 Humphrey Drive          NaN       East Brisbane
11006                     2612 Berry Dr          NaN          Matraville
11007                  942 Brook Street          NaN         Warrnambool
11008                  624 Peabody Road          NaN             Bendigo
11009               3839 Northgate Road          NaN          Hervey Bay
11010               7800 Corrinne Court          NaN       East Brisbane
11011                      1224 Shoenic          NaN       East Brisbane
11012                 4785 Scott Street          NaN           Bremerton
11013                  7902 Hudson Ave.          NaN             Lebanon
11014                   9011 Tank Drive          NaN             Redmond
11015              244 Willow Pass Road          NaN             Burbank
11016               9666 Northridge Ct.          NaN      Imperial Beach
11019                   7832 Landing Dr          NaN             Langley
11020                     7156 Rose Dr.          NaN           Metchosin
11023                 4499 Valley Crest          NaN          Bellflower
11024                 8734 Oxford Place          NaN             Concord
11025         2596 Franklin Canyon Road          NaN           Hawthorne
11026                    8211 Leeds Ct.          NaN            Goulburn
11027                213 Valencia Place          NaN         Warrnambool
11028                 9111 Rose Ann Ave          NaN        St. Leonards
11031                 6465 Detroit Ave.          NaN          Matraville
11032                626 Bentley Street          NaN           Melbourne
11033                   5927 Rainbow Dr          NaN       Milsons Point
11034                 5167 Condor Place          NaN        North Sydney
11035               1873 Mt. Whitney Dr          NaN          Cranbourne
...                                 ...          ...                 ...
29464              4581 Coldwater Drive          NaN         Rockhampton
29465           4072 South Hampton Road          NaN          Matraville
29466                Auf Der Steige 532          NaN            Solingen
29467                  Bundesallee 2461          NaN     Sulzbach Taunus
29468               6934 Santa Cruz Dr.          NaN          Cheltenham
29469                 3792 Westwood Ct.          NaN                Oxon
29470       29, boulevard Beau Marchais          NaN              Drancy
29471             80, rue de Fontfroide          NaN           Dunkerque
29472                 21, avenue Reille          NaN               Paris
29473                  6467 Buena Vista          NaN              Oxford
29474              Potsdamer Straße 646          NaN         Saarbrücken
29475                     Erftplatz 876          NaN             Hamburg
29476                      Nonnendamm 2          NaN             Hamburg
29477                     P.O. Box 9178          NaN              London
29478                  5240 Premier Pl.          NaN      Stoke-on-Trent
29479                 111, rue Maillard          NaN          Versailles
29480                 9 Katherine Drive          NaN              London
29481                       Knaackstr 4          NaN                 Hof
29482            1080, quai de Grenelle          NaN          Saint Ouen
25352              843 Camino Verde Cr.          NaN         Lake Oswego
13139            1622 Silver Oaks Place          NaN           Lane Cove
18651                 5014 Steele Drive          NaN            Lynnwood
24992       6267 Morello Heights Circle          NaN         Chula Vista
11442            8, rue des Vendangeurs          NaN  Tremblay-en-France
18487                  4992 Yorba Linda          NaN             Sunbury
13121                    7259 Birchwood          NaN              Melton
26100                   7345 Kenwal Rd.          NaN             Shawnee
11328               7398 Withersed Lane          NaN              Newton
23077                    1019 Book Road          NaN              Rhodes
18982                   2118 Little Dr.          NaN            Kirkland

                                                     ...                     \
              StateProvinceName CountryRegionName    ...         Occupation
CustomerID                                           ...
11000                Queensland         Australia    ...       Professional
11001                  Victoria         Australia    ...       Professional
11002                  Tasmania         Australia    ...       Professional
11003           New South Wales         Australia    ...       Professional
11004           New South Wales         Australia    ...       Professional
11005                Queensland         Australia    ...       Professional
11006           New South Wales         Australia    ...       Professional
11007                  Victoria         Australia    ...       Professional
11008                  Victoria         Australia    ...       Professional
11009                Queensland         Australia    ...       Professional
11010                Queensland         Australia    ...       Professional
11011                Queensland         Australia    ...       Professional
11012                Washington     United States    ...         Management
11013                    Oregon     United States    ...         Management
11014                Washington     United States    ...         Management
11015                California     United States    ...     Skilled Manual
11016                California     United States    ...     Skilled Manual
11019          British Columbia            Canada    ...     Skilled Manual
11020          British Columbia            Canada    ...     Skilled Manual
11023                California     United States    ...     Skilled Manual
11024                California     United States    ...     Skilled Manual
11025                Queensland         Australia    ...           Clerical
11026           New South Wales         Australia    ...           Clerical
11027                  Victoria         Australia    ...           Clerical
11028           New South Wales         Australia    ...           Clerical
11031           New South Wales         Australia    ...     Skilled Manual
11032                  Victoria         Australia    ...     Skilled Manual
11033           New South Wales         Australia    ...     Skilled Manual
11034           New South Wales         Australia    ...     Skilled Manual
11035                  Victoria         Australia    ...           Clerical
...                         ...               ...    ...                ...
29464                Queensland         Australia    ...             Manual
29465           New South Wales         Australia    ...             Manual
29466       Nordrhein-Westfalen           Germany    ...           Clerical
29467                  Saarland           Germany    ...           Clerical
29468                   England    United Kingdom    ...           Clerical
29469                   England    United Kingdom    ...           Clerical
29470         Seine Saint Denis            France    ...             Manual
29471                      Nord            France    ...             Manual
29472             Seine (Paris)            France    ...             Manual
29473                   England    United Kingdom    ...             Manual
29474                  Saarland           Germany    ...             Manual
29475                   Hamburg           Germany    ...             Manual
29476                   Hamburg           Germany    ...             Manual
29477                   England    United Kingdom    ...             Manual
29478                   England    United Kingdom    ...           Clerical
29479                   Yveline            France    ...           Clerical
29480                   England    United Kingdom    ...           Clerical
29481                    Bayern           Germany    ...           Clerical
29482         Charente-Maritime            France    ...           Clerical
25352                    Oregon     United States    ...           Clerical
13139           New South Wales         Australia    ...     Skilled Manual
18651                Washington     United States    ...           Clerical
24992                California     United States    ...     Skilled Manual
11442         Seine Saint Denis            France    ...     Skilled Manual
18487                  Victoria         Australia    ...     Skilled Manual
13121                  Victoria         Australia    ...       Professional
26100          British Columbia            Canada    ...       Professional
11328          British Columbia            Canada    ...         Management
23077           New South Wales         Australia    ...     Skilled Manual
18982                Washington     United States    ...       Professional

                                                               \
           Gender MaritalStatus HomeOwnerFlag NumberCarsOwned
CustomerID
11000           M             M             1               0
11001           M             S             0               1
11002           M             M             1               1
11003           F             S             0               1
11004           F             S             1               4
11005           M             S             1               1
11006           F             S             1               1
11007           M             M             1               2
11008           F             S             1               3
11009           M             S             0               1
11010           F             S             0               1
11011           M             M             1               4
11012           F             M             1               2
11013           M             M             1               3
11014           F             S             0               3
11015           F             S             0               1
11016           M             M             1               1
11019           M             S             0               2
11020           M             S             0               2
11023           M             M             1               1
11024           M             M             1               2
11025           M             M             1               2
11026           M             S             0               2
11027           M             M             1               2
11028           F             M             1               2
11031           F             M             1               2
11032           F             M             1               2
11033           M             M             1               2
11034           F             M             1               2
11035           F             M             1               2
...           ...           ...           ...             ...
29464           M             S             0               0
29465           M             S             1               0
29466           M             M             1               0
29467           F             M             1               0
29468           F             M             0               0
29469           F             M             0               0
29470           M             S             0               1
29471           F             S             0               1
29472           F             M             0               1
29473           F             S             0               0
29474           M             M             0               1
29475           M             S             0               1
29476           F             M             0               1
29477           M             M             0               1
29478           M             S             1               0
29479           M             M             1               0
29480           F             S             1               0
29481           M             S             0               0
29482           M             M             1               0
25352           M             M             0               2
13139           F             S             0               1
18651           M             M             0               2
24992           F             M             1               2
11442           M             M             1               2
18487           F             S             0               2
13121           F             M             1               4
26100           F             S             1               2
11328           M             M             1               2
23077           M             M             1               2
18982           M             S             1               2

                                                                       1  \
           NumberChildrenAtHome TotalChildren YearlyIncome AveMonthSpend
CustomerID
11000                         0             2       137947            89
11001                         3             3       101141           117
11002                         3             3        91945           123
11003                         0             0        86688            50
11004                         5             5        92771            95
11005                         0             0       103199            78
11006                         0             0        84756            54
11007                         3             3       109759           130
11008                         4             4        88005            85
11009                         0             0       106399            74
11010                         0             0        81294            49
11011                         4             4        94029           146
11012                         0             2        99245            55
11013                         0             2       115859            84
11014                         0             3       105157            49
11015                         0             0        40011            39
11016                         0             0        46808            68
11019                         0             0        49455            64
11020                         0             0        43857            64
11023                         0             0        50046            71
11024                         0             0        91276            77
11025                         1             2        24334            70
11026                         0             2        61905            63
11027                         0             2        49349            76
11028                         0             2        44068            43
11031                         0             4        18843            43
11032                         0             4        15861            42
11033                         0             4        35822            58
11034                         0             4        29017            39

In [8]:
merged_df.to_csv('AdvWorksCusts_BikeBuyer.csv', encoding='utf-8', index=False)

In [1]:
# g1 = merged_df.groupby( [ "Gender", "AveMonthSpend"] ).count().reset_index()